.recalls-footer {
  background: var(--c-grey-50);
  border-top: 1px solid var(--c-grey-300);
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--c-grey-4);
}

.recalls-footer :is(p, a) {
  font-family: var(--ff-volvo-novum);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.recalls-footer a {
  color: var(--c-grey-4);
}

.recalls-footer a:hover {
  color: var(--c-cta-blue-hover);
  text-decoration: underline;
}

.recalls-footer__container {
  display: flex;
  align-items: center;
  gap: 8px;
  width: calc(var(--wrapper-width) - 20px);
  margin: 0 auto;
  flex-flow: column;
  flex-wrap: wrap;

  @media (min-width: 1200px) {
    flex-flow: row;
    justify-content: space-between;
  }
}

.recalls-footer__logo-container .icon svg {
  width: 100px;
  height: 20px; 

  @media (min-width: 1200px) {
    width: 160px;
    height: 30px;
  }
}

.recalls-footer__copyright p {
  margin-top: 0;

  @media (min-width: 1200px) {
    margin-top: 1em;
  }
}

.recalls-footer__link-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recalls-footer__link-list li {
  margin-bottom: 4px;
}

.recalls-footer__link-list li:not(:first-child) {
  padding-left: 8px;
}

.recalls-footer__link-list li::after {
  content: '';
  position: relative;
  top: 2px;
  height: 14px;
  border-right: 1px solid var(--c-grey-300);
  padding-right: 10px;
}

.recalls-footer__link-list li:nth-last-child(1)::after {
  display: none;
}
