.tabbed-carousel-wrapper {
    text-align: center;
}

.tabbed-carousel-wrapper .tab-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.tabbed-carousel-wrapper .tab-container::-webkit-scrollbar {
    display: none;
}

.tabbed-carousel-wrapper .tab-item {
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}

.tabbed-carousel-wrapper .tab-item img {
    display: block;
    margin: 0 auto;
}

.tabbed-carousel-wrapper .tab-content {
    text-align: left;
}

.tabbed-carousel-wrapper .tab-content>div,
.tabbed-carousel-wrapper .tab-content>p {
    margin: 30px auto 0;
}

.tabbed-container-full-width .tabbed-carousel-wrapper .tab-content > .embed-wrapper {
    width: 100%;
    margin: 0;
}

.tabbed-container-full-width .tabbed-carousel-wrapper .tab-item p {
    padding: 0 15px;
    opacity: 0;
    transition: opacity 200ms ease;
}

.tabbed-container-full-width .tabbed-carousel-wrapper .tab-item.active p {
    opacity: 1;
}

.tabbed-container-full-width .tabbed-carousel-wrapper img {
    min-width: calc(var(--wrapper-width) - 2 * 15px);
}


@media screen and (min-width: 768px) {
    .tabbed-container-full-width .tabbed-carousel-wrapper .tab-container {
        scroll-padding-left: 0;
        padding: 0
    }

    .tabbed-container-full-width .tabbed-carousel-wrapper .tab-item {
        width: 100%;
    }

    .tabbed-container-full-width .tabbed-carousel-wrapper .tab-item .tab-content p {
        max-width: var(--wrapper-width);
        margin-left: auto;
        margin-right: auto;
    }
}
