.tabbed-carousel-wrapper {
    text-align: center;
}



.tabbed-carousel-wrapper .tab-container {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.tabbed-carousel-wrapper .tab-container::-webkit-scrollbar {
    display: none;
 }

.tabbed-carousel-wrapper .tab-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
}

.tabbed-carousel-wrapper .tab-item img {
    display: block;
    margin: 0 auto;
}

.tabbed-carousel-wrapper .tab-content {
    text-align: left;
}

.tabbed-carousel-wrapper .tab-content > div,
.tabbed-carousel-wrapper .tab-content > p {
    width: 70%;
    margin: 30px auto 0;
}
