.v2-iframe iframe {
  width: 100%;
}

.v2-iframe.v2-iframe--full-viewport {
  width: 100vw;
  height: 100vh;
  display: flex;
}

@supports (height: 1svh) {
  .v2-iframe.v2-iframe--full-viewport {
    height: 100svh;
  }
}

.v2-iframe--full-viewport iframe {
  width: 100%;
  height: 100%;
}
