.cookie-preference-center a.cta {
    touch-action: manipulation;
    white-space: nowrap;
    padding: 12px 32px;
    background-color: #004FBC; color:#fff;
    font-weight: 700;
    font-family: var(--ff-volvo-novum);
    font-size: var(--body-font-size-xs);
    border: 2px solid var(--c-grey-4);
}

.cookie-preference-center a.cta::after {
    position: initial;
    content: "\f105";
    font-size: 12px;
    padding-left: 8px;
    font-family: var(--ff-fontawesome);
}

.cookie-preference-center {
    margin-bottom: 3rem;
}
