.columns > div {
    display: flex;
    flex-direction: column;
    margin: 48px 0;
}

.columns img {
    width: 100%;
}

.columns.center {
    text-align: center;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        margin-left: 32px;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }

    .columns ul.cta-list {
        justify-content: unset;
    }

    .columns ul.cta-list li {
        flex: 1;
        min-width: 242px;
        padding-left: 0;
        text-align: left;
    }

    .columns ul.cta-list.inline li {
        min-width: unset;
        flex: 0;
        padding-right: 10px;
    }
}