.trucks-container {
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.trucks-container .default-content-wrapper h3 {
    color: var(--volvo-text-light-gray);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--heading-font-size-m);
}

 .trucks-container .default-content-wrapper h2 {
    font-size: var(--heading-font-size-m);
     margin-top: 0;
 }

 .trucks-container .trucks-wrapper {
    overflow: hidden;
    padding: 0 15px;
 }

.trucks-wrapper ul.trucks-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    transition: transform 200ms;
}

.trucks-wrapper ul.trucks-list li.clone {
    display: none;
}

.trucks-wrapper ul.controls {
    display: none;
    list-style: none;
    justify-content: center;
    margin: 0;
    
 }

 .trucks-wrapper ul.controls li {
    width: 20px;
    justify-items: center;
    height: 20px;
    margin: 0 5px;
 }

 .trucks-wrapper ul.controls li button {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: 0 0;
 }

 .trucks-wrapper ul.controls li button::before {
    font-family: FontAwesome, sans-serif;
    font-size: 1.6rem;
    line-height: 3.2rem;
    position: absolute;
    content: "\f10c";
    color: var(--volvo-text-light-gray);
    width: 20px;
    height: 20px;
    text-align: center;
 }

 .trucks-wrapper ul.controls li.active button::before {
    content: "\f192";
 }

@media screen and (max-width: 767px) {
    .trucks-wrapper ul.trucks-list {
        display: flex;
    }

    .trucks-wrapper ul.trucks-list li {
        flex: 0 0 auto;
    }

    .trucks-wrapper ul.trucks-list li.clone {
        display: list-item;
    }

    .trucks-wrapper ul.controls {
        display: flex;
    }
}

.trucks-wrapper .wrapper p, .trucks-wrapper .wrapper h3 {
    font-size: var(--body-font-size-xs);
    margin: 0;
}

.trucks-wrapper .wrapper p:last-child {
    display: none;
}

@media  screen and (min-width: 992px) {
    .trucks-wrapper .wrapper p:last-child {
        display: block;
    }
}

.trucks-wrapper ul > li img {
    width: 100%;
    object-fit: cover;
}