:root {
  --v2-images-grid-gutter: 12px;
  --v2-images-grid-big-height: 274px;
  --v2-images-grid-small-height: 204px;
  --v2-images-grid-full-width-height: 346px;
}

.v2-images-grid-items {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  overflow: auto;
  padding-left: 0;
  scroll-snap-type: x mandatory;
  margin: 0;
}

.v2-images-grid-item {
  background-color: var(--c-background-card);
  color: var(--text-color);
  flex: none;
  margin-right: var(--v2-images-grid-gutter);
  scroll-snap-align: center;
  text-align: center;
  width: 90%;
}

.v2-images-grid-item img {
  height: var(--v2-images-grid-big-height);
  object-fit: cover;
  width: 100%;
}

.v2-images-grid-item:last-child {
  margin: 0;
}

.v2-images-grid-title, .v2-images-grid-itemtext {
  text-wrap: balance;
}

.v2-images-grid-title {
  font-family: var(--font-family-heading);
  font-size: var(--f-heading-5-font-size);
  line-height: var(--f-heading-5-line-height);
  margin: 0;
}

.v2-images-grid-itemtext {
  padding: 24px;
}

.v2-images-grid-itemtext p {
  margin: 12px 0 0;
}

@media screen and (min-width: 744px) {
  :root {
    --v2-images-grid-gutter: 16px;
  }

  .v2-images-grid-items {
    display: grid;
    grid-template-columns: 50%;
    gap: var(--v2-images-grid-gutter);
    grid-template-areas: 
      'area1 area2'
      'area1 area4'
      'area3 area4'
      'area5 area5';
    scroll-snap-type: none;
  }

  .v2-images-grid-item {
    margin: 0;
    width: auto;
  }

  .v2-images-grid-item:nth-child(1) { grid-area: area1; }
  .v2-images-grid-item:nth-child(2) { grid-area: area2; }
  .v2-images-grid-item:nth-child(3) { grid-area: area3; }
  .v2-images-grid-item:nth-child(4) { grid-area: area4; }
  .v2-images-grid-item:nth-child(5) { grid-area: area5; }

  .v2-images-grid-item:nth-child(2) img, .v2-images-grid-item:nth-child(3) img {
    height: var(--v2-images-grid-small-height);
  }

  .v2-images-grid-item:nth-child(5) img {
    height: var(--v2-images-grid-full-width-height);
  }

  .v2-images-grid-title {
    font-size: var(--f-heading-4-font-size);
    line-height: var(--f-heading-4-line-height);
    letter-spacing: var(--f-heading-4-letter-spacing);
  }
}

@media screen and (min-width: 1440px) {
  :root {
    --v2-images-grid-gutter: 24px;
    --v2-images-grid-big-height: 480px;
    --v2-images-grid-small-height: 380px;
    --v2-images-grid-full-width-height: 577px;
  }

  .v2-images-grid-itemtext {
    padding: 40px 35px 32px;
  }
}
