.header-wrapper {
  display: flex;
  justify-content: center;

  --menu-animation: right 450ms ease-in-out;
  --header-animation: transform 300ms ease-in-out;
  --actions-links-height-mobile: 102px;

  /* reassigning, as this property is used elsewhere with different values in non-v2 pages */
  --wrapper-width: 1170px;
}

@media (prefers-reduced-motion) {
  .header-wrapper {
    --menu-animation: right 0 ease-in-out;
    --header-animation: transform 0 ease-in-out;
  }
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: var(--header-animation);
  padding: 0 16px;
}

.header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__menu-overlay {
  display: none;
}

.header__logo-image {
  width: 98px;
  display: block;
}

.header__logo-image.icon svg {
  width: 100%;
}

.header__link:any-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--c-grey-4);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--ff-volvo-novum);
  font-size: 14px;
  line-height: var(--f-body-line-height);
  letter-spacing: var(--f-body-letter-spacing);
  border-bottom: solid 2px transparent;
  padding: 12px 0;
}

.header__overview-link .header__link {
  padding: 20px 0;
}

.header--hamburger-open .header__link:hover,
.header--hamburger-open .header__link:focus,
.header--hamburger-open .header__link:active {
  border-bottom: solid 2px transparent;
}

.header__link:any-link:active {
  color: var(--c-main-black);
}

.header__link .icon,
.header__link .icon svg {
  height: 24px;
  width: auto;
}

.header__close-menu {
  padding: 0;
  background: transparent;
  border: unset;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 16px;
  right: 16px;
  height: 24px;
  font-size: 24px;
}

.header__main-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
}

.header__main-nav-item {
  padding: 0;
  margin: 0 16px;
}

.header__link.header__main-nav-link.header__link-accordion {
  padding: 12px 0;
  justify-content: space-between;
  border-bottom: solid 1px var(--c-grey-300);
}

.header__link.header__link-accordion:any-link {
  justify-content: space-between;
  padding: 20px 0;
}

.header__link-accordion::after {
  content: '';
  background-image: url('/icons/chevron-down.svg');
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  transition: transform 300ms ease-in-out;
}

.header__menu-open > .header__link-accordion::after {
  transform: rotate(180deg);
}

.header__actions {
  display: flex;
  gap: 24px;
}

.header__actions-list,
.header__main-links {
  display: flex;
  transition: var(--menu-animation);
  right: max(-375px, -95vw);
  position: absolute;
  width: 95vw;
  max-width: 375px;
  background: var(--c-white);
}

.header .header__actions-list {
  list-style: none;
  margin: 0;
  gap: 24px;
  top: 0;
  padding: 16px;
  height: var(--actions-links-height-mobile);
}

.header__actions-list::after {
  content: '';
  border-bottom: solid 1px var(--c-grey-300);
  position: absolute;
  bottom: 0;
  width: calc(100% - 32px);
}

.header__action-link.header__hamburger-menu {
  padding: 0;
  margin: 0;
  background: inherit;
  border: none;
  justify-content: center;
}

.header__main-links {
  top: var(--actions-links-height-mobile);
  padding: 0;
  height: calc(100vh - var(--actions-links-height-mobile));
  overflow-y: auto;
}

.header__action-link {
  display: flex;
  flex-direction: column;
}

.header__action-link-text {
  font-size: 12px;
  letter-spacing: var(--f-caption-letter-spacing);
  line-height: var(--f-caption-line-height);
}

.header__mobile-actions {
  display: flex;
  gap: 16px;
}

.header__link-description {
  display: none;
}

.header--hamburger-open .header__menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(20 20 20 / 40%);
  width: 100vw;
  height: 100vh;
  display: block;
}

.header--hamburger-open .header__actions-list {
  right: 0;
  overflow: auto;
}

.header--hamburger-open .header__action-link-text {
  display: inline;
}

.header--hamburger-open .header__main-links {
  right: 0;
}

.header--hidden {
  transform: translateY(-100%);
}

.header .header__menu-content,
.header .header__category-items,
.header .header__overview-link {
  margin: 0 0 0 20px;
  list-style: none;
  padding: 0;
}

.header__category-items > .header__link:not(:first-of-type)
.header__menu-content picture,
.header__category-subtitle,
.header__menu-content-footer {
  display: none;
}

.header__menu-open .header__menu-content,
.header__menu-open > .header__category-content > .header__category-items {
  display: flex;
  flex-direction: column;
}

.header__accordion-container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.header__menu-open > .header__accordion-container {
  grid-template-rows: 1fr;
}

.header__accordion-content-wrapper {
  overflow: hidden;
}

.header__category-item a:any-link {
  display: none;
}

.header__category-item a:first-of-type {
  display: block;
}

@media (min-width: 744px) {
  .header {
    padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  .header {
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .header__nav {
    max-width: var(--wrapper-width);
  }

  .header__link:hover,
  .header__link:focus {
    border-bottom: solid 2px var(--c-grey-4);
  }

  .header__link:any-link:active {
    border-bottom: solid 2px var(--c-main-black);
  }

  .header__action-link.header__hamburger-menu {
    display: none;
  }

  .header__actions-list {
    border: unset;
    padding: 0;
    position: static;
    width: auto;
    height: auto;
  }

  .header__actions-list::after {
    display: none;
  }

  .header .header__actions-list {
    padding: 0;
    height: auto;
  }

  .header__main-links {
    height: auto;
    position: static;
    padding: 0 16px;
    width: auto;
    max-width: unset;
  }

  .header__category-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    min-width: 150px;
  }

  .header__category-item a:any-link {
    display: block;
  }

  .header__link-accordion::after {
    display: none;
  }

  .header__main-nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    width: auto;
  }

  .header__main-nav-item {
    border-bottom: unset;
    padding: 0;
    margin: 0;
  }

  .header__action-link {
    flex-direction: row;
  }

  .header__action-link-text {
    display: inline;
  }

  .icon.icon-user + .header__action-link-text {
    display: none;
  }

  .header__action-item--close-menu,
  .header__close-menu {
    display: none;
  }

  .header__main-nav-item .header__accordion-container {
    display: flex;
  }

  .header__main-nav-item > .header__accordion-container {
    position: fixed;
    background: var(--c-white);
    width: var(--wrapper-width);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    top: var(--nav-height);
    transition: unset;
    overflow-y: auto;
    max-height: calc(100vh - 2 * var(--nav-height));
    display: none;
  }

  .header__main-nav-item.header__menu-open > .header__accordion-container {
    display: flex;
    min-height: 370px;
    flex-direction: column;
  }

  .header__accordion-content-wrapper {
    display: flex;
    box-sizing: border-box;
    min-width: 180px;
    gap: 30px;
  }

  .header__main-nav-item > .header__accordion-container > .header__accordion-content-wrapper {
    padding: 32px 64px;
  }

  .header__link.header__link-accordion:any-link {
    padding: 12px 0;
    border-bottom: none;
  }

  .header__main-nav-link.header__link:any-link {
    border: solid 2px transparent;
  }

  .header__main-nav-link.header__link:hover,
  .header__main-nav-link.header__link:active,
  .header__main-nav-link.header__link:focus {
    border-bottom: solid 2px var(--c-grey-4);
  }

  .header__accordion-content-wrapper .header__menu-content {
    margin: 0;
    flex: 0;
  }

  .header__accordion-content-wrapper--with-images .header__menu-content {
    flex: 1 1 100%;
  }

  .header__accordion-content-wrapper--with-images .header__category-item {
    width: calc(100% / 3 - 22px);
  }

  .header__accordion-content-wrapper--with-images .header__category--images-list .header__category-item  {
    width: 145px;
    min-width: 145px;
  }

  .header__overview-link {
    display: none;
  }

  .header__category-subtitle,
  .header__category-item picture,
  .header__link-description {
    display: block;
  }

  .header__category-item img {
    width: 200px;
    height: auto;
  }

  .header__menu-heading:hover,
  .header__category-item .header__link:hover {
    text-decoration: underline;
  }

  .header .header__menu-content .header__menu-heading {
    font-size: 24px;
    letter-spacing: var(--f-heading-5-letter-spacing);
    line-height: var(--f-heading-5-line-height);
  }

  .header__category-subtitle {
    margin-bottom: 16px;
  }

  .header__category-subtitle:not(:empty) {
    font-size: 12px;
    letter-spacing: var(--f-caption-letter-spacing);
    line-height: var(--f-caption-line-height);
    margin-bottom: 40px;
    color: var(--c-grey-600);
  }

  .header .header__category-items {
    margin: 0;
    column-gap: 12px;
    row-gap: 16px;
    display: flex;
    flex-wrap: wrap;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .header__category-item .header__link {
    display: inline;
    padding: 0;
    border-bottom: solid 1px transparent;
    text-wrap: balance;
  }

  .header__category-item a:first-of-type {
    display: inline;
  }

  .header__category-item a::after {
    content: '';
    background-image: url('/icons/chevron-down.svg');
    width: 0.75em;
    height: 0.75em;
    background-repeat: no-repeat;
    transform: rotate(-90deg);
    background-position: center;
    background-size: cover;
    display: inline-flex;
  }

  .header__link-description {
    font-size: 14px;
    letter-spacing: var(--f-subtitle-2-letter-spacing);
    line-height: var(--f-subtitle-2-line-height);
    color: var(--c-grey-500);
  }

  .header__menu-content-footer {
    display: flex;
    background: var(--c-grey-100);
    padding: 0 20px;
    justify-content: center;
  }

  .header__category--images-list .header__category-items {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .header__category--images-list .header__category-item img {
    width: 100%;
  }
}
