/* ----- Mobile ------------------------------------------------------------- */

header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
  cursor: pointer;
}

header .header {
  display: flex;
}

/* nav */
header nav {
  flex: 1;
  margin: 30px auto 0;
  padding: 0 21px;
  display: flex;
  flex-flow: row wrap;
}

/* the brand  */
header nav .brand {
  height: 35px;
  margin: 0 0 30px;
  display: flex;
  flex-flow: row;
  flex: 1 0 auto;
}

/* the volvo logo svg */
header nav .brand .logo .icon-logo,
header nav .brand .logo .icon-logo svg {
  display: block;
  width: 98px;
}

/* the section/location info to the right of the logo */
header nav .brand .vgsection-location {
  font-size: 1.4rem;
  margin-left: 24px;
  display: flex;
  flex-flow: column;
}

/* volvo group section */
header nav .brand .vgsection-location .vgsection {
  font-family: var(--body-font-family);
  color: var(--text-color);
  font-weight: 700;
}

/* location */
header nav .vgsection-location .location {
  font-family: var(--body-font-family);
  font-weight: 400;
  color: #A7A8A9;
}

/* the search icon */
header nav .search-toggle .search-icon {
  width: 16px;
  height: 16px;
  color: #A7A8A9;
}

/* the hamburger icon */
header nav .hamburger-toggle .hamburger-icon {
  width: 20px;
  height: 14px;
  margin-left: 12px;
  color: #A7A8A9;
  margin-bottom: 2px;
}

/* the search input  */
header nav .search {
  height: 0;
  transition: height 400ms ease-out;
  overflow: hidden;
  background-color: white;
  display: flex;
  top: var(--nav-height);
  width: 100%;
}

header nav .search div {
  display: flex;
  flex-flow: row;
  width: 100%;
  font-family: var(--body-font-family);
}

header nav .search-toggle[aria-expanded=true]~.search {
  height: 59px;
  margin-block-end: 15px;
}

header nav .search input {
  display: block;
  width: 100%;
  height: 59px;
  padding: 10px 40px 10px 15px;
  border: none;
  border-radius: 0;
  background-color: #ebebea;
  appearance: none;
  outline: none;
  font-size: 16px;
}

header nav .search .search-button {
  height: 59px;
  padding: 0 10px;
  color: #A7A8A9;
  border: none;
  border-radius: 0;
  background-color: #ebebea;
  box-shadow: none;
  font-size: 16px;
  text-overflow: clip;
  white-space: unset;
}

header nav .search label {
  display: none;
}

/* hamburger menu: tools */
header nav .tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 97vw;
  height: 73px;
  right: -97vw;
  top: 0;
  z-index: 1052;
  background-color: white;
  transition: right .2s cubic-bezier(.4,0,.2,1) .1s;
  border-bottom: 1px solid #E1DFDD;
}

header nav .hamburger-toggle[aria-expanded=true]~.tools {
  right: 0;
}

/* list of tools */
header nav .tools ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
  flex: 1;
}

/* tools entries */
header nav .tools ul li {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 4%;
}

header nav .tools ul li:first-child {
  margin-left: 0;
}

header nav .tools ul li a {
  color: #53565A;
  text-decoration: none;
  font-size: 8pt;
}

header nav .tools ul li img {
  width: 16px;
  height: 16px;
}

/* close icon */
header nav .tools .hamburger-close {
  padding: 0 15px;
}

header nav .tools .hamburger-close img {
  width: 14px;
  height: 14px;
}

/* hamburger menu */
header nav .sections {
  display: flex;
  align-items: start;
  justify-content: start;
  position: fixed;
  width: 97vw;
  height: calc(100% - 73px);
  right: -97vw;
  top: 73px;
  z-index: 1052;
  background-color: white;
  transition: right .2s cubic-bezier(.4,0,.2,1) .1s;
  overflow: hidden scroll;
}

header nav .hamburger-toggle[aria-expanded=true]~.sections {
  right: 0;
}

/* section entries */
header nav .sections ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav .sections * {
  font-size: 14px;
}

header nav .sections .sections-list {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
}

header nav .sections .sections-list ul {
  height: 0;
  overflow: hidden;
  transition: height 200ms ease-out;
}

header nav .sections .section {
  line-height: 1.5;
  color: #53565A;
}

header nav .sections .section.expand {
  padding-left: 15px;
}

header nav .sections .section a {
  display: block;
  width: 100%;
  position: relative;
  text-align: left;
  font-family: var(--ff-volvo-novum);
  border: 0;
}

header nav .sections .section > a {
  padding: 15px;
  border-bottom: 1px solid #E1DFDD;
  text-transform: uppercase;
}

header nav .sections .section a::after {
  position: absolute;
  right: 15px;
  font-family: var(--ff-fontawesome);
  content: "\f105";
  font-size: 20px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
}

header nav .sections .section li > *:not(a.primary-link,ul) {
  /* hide all elements in list items but the primary link and any sub list */
  display: none;
}

/* 1st level */
header nav .sections .section > ul > li a {
  padding: 15px 0 30px;
}

header nav .sections .section > ul > li.overview > *,
header nav .sections .section > ul > li > p.title {
  display: block;
  margin: 0;
}

header nav .sections .section > ul > li a::after {
  content: '\f067';
  font-size: 14px;
  margin-top: 0;
}

header nav .sections .section.expand > a::after {
  content: '\f104';
  right: unset;
  left: 0
}

header nav .sections .section > ul > li.overview a::after {
  content: unset;
}

/* 2nd and deeper levels */
header nav .sections .section > ul > li.expand > ul {
  padding-left: 15px;
}

header nav .sections .section > ul > li > ul > li a {
  padding-top: 0;
}

header nav .sections .section > ul > li.expand a::after {
  content: '\f068';
}

header nav .sections .section > ul > li.expand > ul li a::after {
  content: unset;
}

header nav .sections .section a:hover {
  color: currentcolor;
  text-decoration: none;
}

header nav .sections .section .navigation-cta {
  display: none;
}

/* ----- tablet ------------------------------------------------------ */
@media (min-width: 768px) {
  /* the main mobile div */
  header nav {
    width: 756px;
    flex: 0;
  }

  /* the search input  */
  header nav .search>div {
    width: 756px;
    margin: 0 0 0 auto;
  }

  /* tools only use 50% of width */
  header nav .tools {
    width: 50vw;
    right: -50vw;
  }

  header nav .hamburger-toggle[aria-expanded=true]~.tools {
    width: 50vw;
    right: 0;
  }

  /* sections only use 50% of width */
  header nav .sections {
    width: 50vw;
    right: -50vw;
  }

  header nav .hamburger-toggle[aria-expanded=true]~.sections {
    width: 50vw;
    right: 0;
  }
}

/* ------ Desktop -------------------------------------------------------- */
@media (min-width: 992px) {
  /* nav turns into css grid */
  header nav {
    flex: 1;
    width: 100%;
    display: grid;
    grid-template:
      '. brand tools .' 26px
      '. brand search .' auto
      '. . . . ' 27px
      'sections sections sections sections' 48px
      / calc(3.5% + 15px) auto auto calc(3.5% + 15px);
    margin: 25px 0 0;
    padding: 0;
  }

  /* hide mobile search toggle */
  header nav .search-toggle {
    display: none;
  }

  /* hide mobile hamburger toggle */
  header nav .hamburger-toggle {
    display: none;
  }

  /* hide semitrans */
  header nav .semitrans {
    display: none;
  }

  /* hide hamburger close button */
  header nav .hamburger-close {
    display: none;
  }

  /* brand */
  header nav .brand {
    grid-area: brand;
    padding: 15px;
  }

  /* tools */
  header nav .tools {
    position: unset;
    align-items: start;
    grid-area: tools;
    border: none;
    justify-content: end;
    width: 100%;
    height: auto;
  }

  /* list of tools */
  header nav .tools ul {
    margin: 0;
    padding: 0;
    gap: 20px;
    flex: unset;
  }

  /* tools entries */
  header nav .tools ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin: 0;
  }

  header nav .tools ul li a {
    color: #888B8D;
    font-size: 1.2rem;
  }

  header nav .tools ul li img {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }

  /* search */
  header nav .search {
    align-self: start;
    justify-self: start;
    position: initial;
    grid-area: search;
    height: 50px;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  header nav .search div {
    padding: 10px 0 0;
    display: flex;
    flex-flow: row;
    justify-content: right;
  }

  header nav .search input {
    position: relative;
    display: block;
    padding: 10px 35px 10px 15px;
    width: 290px;
    height: 40px;
    color: #53565A;
    border: 1pt solid #E1DFDD;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    outline: none;
    font-size: 12px;
  }

  header nav .search input:focus {
    border: 1pt solid black;
  }

  header nav .search .search-button {
    height: 40px;
    position: absolute;
    color: #bbb;
    border-radius: 0;
    background-color: transparent;
    font-size: 18px;
  }

  /* sections */
  header nav .sections {
    display: block;
    position: unset;
    overflow: unset;
    grid-area: sections;
    height: 48px;
    width: 100%;
    background-color: #E1DFDD;
  }

  header nav .sections .sections-list {
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    width: calc(93% - 30px);
    margin: 0 auto;
  }

  header nav .sections * {
    font-size: 12px;
  }

  header nav .sections .section {
    display: block;
  }

  header nav .sections .section > a {
      border: 0;
      padding: 15px 24px;
      height: 48px;
      cursor: pointer;
  }

  header nav .sections .section.expand {
    padding: 0;
  }

  header nav .sections .section > a:hover,
  header nav .sections .section.expand > a {
    background-color: white;
  }

  header nav .sections .section > a::after {
    position: initial;
    display: inline-block;
    width: 1px;
    content: "\f105";
    font-size: 12px;
    margin-left: 6px;
  }

  header nav .sections .section.expand a::after {
    content: "\f107";
  }

  header nav .sections .section .overview {
    display: none;
  }

  /* flyout */
  header nav .sections .section > ul {
    position: absolute;
    left: 0;
    display: none;
    background-color: #fff;
    padding: 40px 0 0 92px;
    width: 100%;
    z-index: 1010;
  }

  header nav .sections .section.expand .navigation-cta {
    margin: 0 0 0 -92px !important;
    width: calc(100% + 92px) !important;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-light-gray);
  }

  header nav .sections .section .navigation-cta p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }

  header nav .sections .section.expand ul {
    height: auto;
  }

  header nav .sections .section.expand > ul {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    height: auto;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  }

  header nav .sections .section.expand > ul > li {
    margin-bottom: 20px;
  }

  header nav .sections .section.expand li > *:not(a.primary-link,ul) {
    /* show all elements in all list items */
    display: block;
  }

  header nav .sections .section.expand > ul > li a::after {
    content: unset;
  }

  header nav .sections .section.expand > ul > li > ul a {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
  }

  header nav .sections .section.expand .navigation-cta a {
    display: inline-block;
    width: auto;
    padding: 0;
    font-size: 14px;
    margin-left: 8px;
    color: var(--link-color);
  }

  header nav .sections .section.expand .navigation-cta a::after {
    display: inline;
    position: unset;
    margin-left: 8px;
    content: '\f105';
  }

  header nav .sections .section.expand > ul > li > p.title {
    font-size: 24px;
    line-height: 1.333;
    border-bottom: 1px solid var(--background-light-gray);
    padding-bottom: 10px;
    margin-bottom: 8px;
  }

  header nav .sections .section.expand > ul > li > p.title a {
    font-family: var(--ff-volvo-novum-medium);
  }

  header nav .sections .section.expand > ul > li > p.subtitle {
    margin: 8px 0;
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
    color: var(--volvo-text-light-gray);
  }

  header nav .sections .section.expand > ul > li > p.title > *,
  header nav .sections .section.expand > ul > li > p.subtitle > * {
    text-align: left;
    font-size: inherit;
    padding: 0;
  }

  header nav .sections .section.expand > ul > li > ul p {
    padding: 8px 0;
    margin: 0;
    color: var(--volvo-text-light-gray);
  }

  header nav .sections .section.expand > ul > li > ul a.cta {
    display: inline;
    white-space: normal;
  }

  header nav .sections .section.expand > ul > li > ul a.cta::after {
    content: '\f105';
    position: unset;
    margin-left: 8px;
    font-size: inherit;
    color: var(--link-color);
    font-weight: 700;
  }

  header nav .sections .section.expand > ul > li > ul > li {
    width: 126px;
  }

  header nav .sections .section.expand.image-list > ul > li {
    width: 775px;
  }

  header nav .sections .section.expand.image-list > ul > li > ul {
    display: flex;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  header nav .sections .section.expand.image-list > ul > li > ul::after {
    content: '';
    display: block;
    flex: 2;
  }

  header nav .sections .section.expand.image-list > ul > li > ul > li img {
    max-width: 100%;
    height: 70.5px;
    object-fit: cover;
  }

  header nav .sections .section.expand.link-list > ul > li > ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  header nav .sections .section.expand.link-list > ul > li > ul > li a {
    font-size: 14px;
  }
}

/* ---- Desktop Wide  ------ */
@media (min-width: 1300px) {
  /* nav get fixed width of 1200px */
  header nav {
    grid-template-columns: auto 600px 600px auto;
  }

  /* section nav fixed width of 1200px */
  header nav .sections .sections-list {
    width: 1200px;
  }

  header nav .sections .section.expand.image-list > ul > li {
    width: 975px;
  }

  header nav .sections .section.expand.link-list > ul > li > ul > li,
  header nav .sections .section.expand.image-list > ul > li > ul > li {
    width: 165px;
  }

  header nav .sections .section.expand.image-list > ul > li > ul > li img {
    height: 92.5px;
  }
}