.key-facts-wrapper {
  text-align: center;
}

.key-facts-wrapper .key-facts {
  padding-top: 24px;
  padding-bottom: 24px;
}

.key-facts-wrapper .key-facts > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 30px;
}

.key-facts-wrapper .key-fact {
  display: flex;
  flex-flow: column;
  flex: 0 0 100%;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 32px;
}

.key-facts-wrapper .key-fact p {
  margin: 0;
  text-align: center;
}

/* icon */
.key-facts-wrapper .key-fact i.fa {
  font-size: 30px;
  margin-bottom: 8px;
}

.key-facts-wrapper .key-fact .icon,
.key-facts-wrapper .key-fact .icon svg {
  height: 48px;
  width: 48px;
}

.key-facts-wrapper .key-fact .icon + br {
  display: none;
}

/* title */
.key-facts-wrapper .key-facts h4 {
  margin-bottom: 16px;
  font-family: var(--ff-volvo-novum);
  font-size: 2.0rem;
  font-weight: 400;
  text-transform: uppercase;
}

/* intro */
.key-facts-wrapper .key-facts h4 + p {
  font-size: 1.6rem;
  margin-bottom: 8px;
}

/* number */
.key-facts-wrapper .key-facts p strong.number {
  display: block;
  margin-bottom: 16px ;
  font-family: var(--ff-volvo-broadprodigital);
  font-size: 6.0rem;
  line-height: 4.8rem;
  font-weight:400;
}

/* unit */
.key-facts-wrapper .key-facts p strong.unit {
  display:block;
  margin-bottom: 8px;
  font-family: var(--ff-volvo-novum);
  font-size: 1.6rem;
}

/* description */
.key-facts-wrapper .key-facts p:last-of-type {
  font-family: var(--ff-volvo-novum);
  font-size: 1.6rem;
}

/* the trailing line */
.key-facts-wrapper .key-facts .key-fact > div {
  width: 100%;
}

.key-fact div.trailing-line {
  margin-top: 48px;
}

.key-fact div.trailing-line::before {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 30px;
  border-top: 3px solid var(--c-grey-1);
}

@media screen and (min-width: 576px) {
  .key-facts-wrapper .key-fact {
    flex: 0 0 16.6667%;
  }

  .key-facts-wrapper .key-facts.wide-columns .key-fact {
    flex: 0 0 45%;
  }
}

@media screen and (min-width: 768px) {
  .key-facts-wrapper .key-facts {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .key-facts-wrapper .key-facts.wide-columns .key-fact {
    flex: 1 0 30%;
  }

  .key-facts-wrapper .key-fact .icon,
  .key-facts-wrapper .key-fact .icon svg {
    height: 72px;
    width: 72px;
  }
}

@media screen and (min-width: 1024px) {
  .key-facts-wrapper .key-facts {
    gap: 80px;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
