.tabbed-accordion-wrapper .tab-navigation {
  display: none;
}

.tabbed-accordion .accordion-header {
  border-top: 1px solid #CBCBCB;
}

.tabbed-accordion .accordion-header button {
  display: block;
  width: 100%;
  border: none;
  background-color: initial;
  color: var(--volvo-text-grey);
  font-size: 1.6rem;
  position: relative;
  padding: 20px 16px;
  margin-top: 1px;
  height: 60px;
}

.tabbed-accordion .accordion-header button::after {
  position: absolute;
  display: inline-block;
  right: 10px;
  font-family: var(--ff-fontawesome);
  font-size: 2.5rem;
  content: "\f107"
}

.tabbed-accordion .is-active .accordion-header button::after {
  content: "\f106";
}

.tabbed-accordion .columns-wrapper {
  margin-bottom: 50px;
}

.tabbed-accordion .accordion-item .accordion-collapse {
  overflow: hidden;
  transition: 0.4s linear;
  transition-property: opacity, height;
  will-change: opacity, contents;
}

.tabbed-accordion .accordion-item:not(.is-active) .accordion-collapse {
  height: 0;
  opacity: 0;
}

.tabbed-container-full-width .tabbed-accordion p {
  padding: 0 calc(var(--horizontal-padding) + 15px);
}

@media screen and (min-width: 768px) {
  .tabbed-container-full-width .tabbed-accordion p.picture {
    padding: 0;
  }

  .tabbed-accordion-wrapper .tab-navigation {
    display: block;
  }

  .tabbed-accordion .accordion-header {
    display: none;
  }
  
  .tabbed-accordion .accordion-item.is-active .accordion-collapse {
    height: auto;
    opacity: 1;
  }
}