/* block specific CSS goes here */

main .section.hero-container {
    margin: -30px 0 0;
    padding: 0;
}

main .section .hero-wrapper {
    padding: 0;
    width: 100%;
}

main .hero {
    position: relative;
}

main .hero-headings {
    color: var(--volvo-text-gray);
    text-align: center;
}

main .hero-headings h1,
main .hero-headings h4 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

main .hero-headings h1 {
    margin-top: 0;
    margin-bottom: 36px;
    font-family: var(--ff-volvo-broadprodigital);
    font-size: 6rem;
    letter-spacing: 3.6px;
    line-height: 1em;
}

main .hero-headings h4 {
    margin-bottom: 8px;
    font-size: 1.6rem;
    letter-spacing: -0.1px;
    line-height: 1.5em;
}

main .hero-headings:has(.button) h1 {
    margin-block-end: 8px;
}

main .hero .button-container {
    margin-block: 0;
}

main .hero picture {
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    display: block;
    object-fit: cover;
    width: 100%;
}

main .hero a.cta {
    display: initial;
    color: currentcolor;
    background-color: transparent;
    border: none;
    border-radius: unset;
    padding: 0;
    margin: 0;
    font-family: var(--ff-volvo-novum-regular);
    font-size: var(--body-font-size-xs);
}

@media screen and (min-width: 481px) {
    main .hero-headings {
        color: white;
        position: absolute;
        bottom: 16px;
        padding-left: 32px;
        text-align: initial;
    }

    main .hero-headings h1 {
        margin-bottom: 8px;
    }

    main .hero-headings h4 {
        margin-top: 0;
    }

    main .hero picture::after {
        display: block;
        content: '';
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(-180deg,rgb(0 0 0 / 0%),rgb(0 0 0 / 80%)) repeat-x;
    }
}

@media screen and (min-width: 768px) {
    main .hero-headings {
        padding-top: 48px;
        top: 0;
        bottom: unset;
    }

    main .hero-headings:has(.button) h1 {
        margin-block-end: 24px;
    }

    main .hero-headings a.cta {
        padding: var(--btn-padding);
        color: var(--text-color);
        background-color: var(--c-white);
        border: 2px solid var(--c-white);
    }

    main .hero-headings a.cta:hover {
        background-color: var(--btn-background-hover);
        border-color: #e0e0e0;
    }

    main .hero picture::after {
        top: 0;
        background-image: linear-gradient(-30deg,rgba(0 0 0 / 0%),rgba(0 0 0 / 40%));
    }
}


@media screen and (min-width: 992px) {
    main .hero-headings {
        width: 913px;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 47px;
        text-align: left;
    }
}

@media screen and (min-width: 1300px) {
    main .hero-headings {
        width: 1153px;
    }
}