:root {
  --inpage-navigation-height: 58px;
}

.v2-inpage-navigation-wrapper {
  background-color: var(--c-white);
  height: auto !important;
  left: 0;
  overflow: unset !important;
  position: sticky;
  top: var(--nav-height);
  width: 100%;
  z-index: var(--z-index-inpage-nav);
  transition: transform var(--duration-medium) ease-in-out, z-index var(--duration-medium) ease-in-out;
}

/* As the first section in main doesn't need to have padding-top
and inpage navigation is taking the first position,
then we change it for the next section item in main */
.v2-inpage-navigation-wrapper + .section {
  padding-top: 0;
}

.v2-inpage-navigation--open {
  z-index: var(--z-index-inpage-nav-open);
}

.v2-inpage-navigation--open .v2-inpage-navigation__items-container {
  transform: translateY(-100%);
  transition: transform var(--duration-large) var(--easing-entrance);
}

.v2-inpage-navigation--hidden.v2-inpage-navigation-wrapper {
  transform: translateY(calc(var(--nav-height) * -1));
}

.v2-inpage-navigation {
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--c-grey-50);
  height: var(--inpage-navigation-height);
}

.v2-inpage-navigation__wrapper {
  display: flex;
  padding: 8px 16px;
}

.v2-inpage-navigation__dropdown {
  flex-grow: 1;
  display: flex;
  position: relative;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-inpage-navigation__items-container {
  background-color: var(--c-white);
  left: 0;
  margin: 0;
  padding: 32px;
  position: fixed;
  top: 100vh;
  width: 100%;
  z-index: 1;
  border-radius: 24px 24px 0 0;
  transform: translateY(0);
  transition: transform 450ms var(--easing-exit);
}

.v2-inpage-navigation__dropdown-background {
  position: fixed;
  top: calc(var(--inpage-navigation-height) * -1);
  left: 0;
  height: 0;
  width: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 10%);
  transition:
    background-color var(--duration-small) 300ms ease-in-out,
    width 0ms calc(var(--duration-small) + 300ms) ease-in-out,
    height 0ms calc(var(--duration-small) + 300ms) ease-in-out;
}

.v2-inpage-navigation__title {
  display: none;
}

.v2-inpage-navigation--open .v2-inpage-navigation__dropdown-background {
  height: 100vh;
  width: 100%;
  background-color: rgb(0 0 0 / 80%);
  transition: background-color var(--duration-small) ease-in-out;
}

.v2-inpage-navigation__items-close {
  background: none;
  border: 0;
  border-radius: 4px;
  color: var(--c-main-black);
  cursor: pointer;
  display: block;
  margin: 0 0 0 auto;
  padding: 0;
  width: 44px;
  height: 44px;
}

.v2-inpage-navigation__items-close .icon svg {
  display: block;
  margin: auto;
  width: 24px;
  height: 24px;
}

.v2-inpage-navigation__items-close:focus-visible {
  outline: 2px solid var(--border-focus);
}

.v2-inpage-navigation__dropdown-title {
  font-family: var(--font-family-body);
  font-size: var(--f-heading-5-font-size);
  line-height: var(--f-heading-5-line-height);
  margin-bottom: 24px;
  display: block;
}

.v2-inpage-navigation__items {
  list-style: none;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.v2-inpage-navigation__item button,
.v2-inpage-navigation__selected-item-wrapper {
  padding: 0;
  background: none;
  border: 0;
  color: var(--c-grey-4);
  cursor: pointer;
  display: block;
  font-family: var(--ff-volvo-novum);
  font-size: var(--f-subtitle-2-font-size);
  line-height: var(--f-subtitle-2-line-height);
  letter-spacing: var(--f-subtitle-2-letter-spacing);
  margin: 0;
  width: 100%;
  border-radius: 1px;
}

.v2-inpage-navigation__item button:focus-visible {
  outline-offset: 5px;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-inpage-navigation__item--active button,
.v2-inpage-navigation__item button:hover,
.v2-inpage-navigation__item button:active,
.v2-inpage-navigation__item button:focus {
  font-family: var(--ff-volvo-novum-medium);
  color: var(--c-main-black);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-inpage-navigation__item button {
  text-align: left;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-inpage-navigation__selected-item-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.v2-inpage-navigation__selected-item-wrapper .icon svg {
  width: 24px;
  height: 24px;
  transition: transform var(--duration-small) var(--easing-standard);
}

.v2-inpage-navigation__dropdown--open .v2-inpage-navigation__selected-item-wrapper svg {
  transform: rotate(180deg);
}

/* END Customization when dropdown is open */

.redesign-v2 a.button.v2-inpage-navigation__marketing:any-link {
  height: auto;
  padding: 10px 20px;
  line-height: var(--f-button-line-height);
}

@media (min-width: 744px) {
  .v2-inpage-navigation__wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 1200px) {
  :root {
    --inpage-navigation-height: 64px;
  }

  .v2-inpage-navigation {
    padding: 0 32px;
  }

  .v2-inpage-navigation__wrapper {
    align-items: center;
    max-width: var(--wrapper-width);
    padding: 10px 0;
    margin: 0 auto;
  }

  .v2-inpage-navigation__title {
    display: flex;
    font-family: var(--ff-volvo-novum-medium);
    font-size: var(--f-subtitle-2-font-size);
    line-height: var(--f-subtitle-2-line-height);
    letter-spacing: var(--f-subtitle-2-letter-spacing);
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width var(--duration-large) var(--easing-standard);
  }

  .v2-inpage-navigation__title::after {
    content: '';
    width: 1px;
    height: 20px;
    display: block;
    background-color: var(--c-grey-4);
    margin: 0 26px;
  }

  .v2-inpage-navigation--hidden .v2-inpage-navigation__title {
    max-width: 300px;
  }

  .v2-inpage-navigation__selected-item-wrapper,
  .v2-inpage-navigation__items-close,
  .v2-inpage-navigation__dropdown-title,
  .v2-inpage-navigation__dropdown-background {
    display: none;
  }

  .v2-inpage-navigation__items-container {
    position: unset;
    padding: 0;
    display: flex;
    align-items: center;

    /* fix overlap issue for focus state of CTA */
    background-color: transparent;
  }

  .v2-inpage-navigation__items {
    gap: 26px;
    flex-direction: row;
  }

  .v2-inpage-navigation__item button {
    position: relative;
    padding: 12px 0;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .v2-inpage-navigation__item--active button,
  .v2-inpage-navigation__item button:hover,
  .v2-inpage-navigation__item button:active,
  .v2-inpage-navigation__item button:focus {
    font-family: var(--ff-volvo-novum);
    color: var(--c-main-black);
  }

  .v2-inpage-navigation__item button::after {
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    transition: background-color var(--duration-small) var(--easing-standard);
    width: 100%;
    left: 0;
  }

  .v2-inpage-navigation__item--active button::after,
  .v2-inpage-navigation__item:not(.v2-inpage-navigation__item--active) button:hover::after,
  .v2-inpage-navigation__item:not(.v2-inpage-navigation__item--active) button:focus::after {
    background-color: var(--c-main-black);
  }

  .redesign-v2 a.button.v2-inpage-navigation__marketing:any-link {
    padding: 10px 20px;
  }
}
