@import url('./performance-specifications.css');

main .engine-specifications-container {
  padding: 0;
}

.engine-specifications.engine {
  color: #141414;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 80px 0;
}

main .section .engine-specifications-wrapper {
  margin: 0;
  padding: 0;
}

.engine-specifications .engine-title {
  font-size: var(--heading-font-size-l);
  margin: 0;
  text-align: center;
}

.engine-specifications .item-list {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  list-style: none;
  margin: 40px 0 0;
}

.engine-specifications .item-wrapper {
  margin: 0 0 24px;
}

.engine-specifications .rating-title,
.engine-specifications .power-title,
.engine-specifications .torque-title,
.engine-specifications .item-title {
  color: #888B8D;
  font-family: var(--ff-volvo-novum);
  margin: 0;
  font-size: var(--body-font-size-xs);
  line-height: 14px;
  font-weight: 500;
}

.engine-specifications .rating-item h5,
.engine-specifications .power-item h5,
.engine-specifications .torque-item h5,
.engine-specifications .item-content {
  font-family: var(--ff-volvo-novum);
  margin: 4px 0 0;
  font-size: var(--body-font-size-xs);
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.15px;
}

@media (min-width: 744px){
  .engine-specifications-wrapper {
    margin-right: 0 !important;
  }

  .engine-specifications .item-list {
    flex-flow: wrap;
    flex-direction: row;
    overflow: auto;
    padding: 0 32px;
  }

  .engine-specifications .item-list li {
    width: 50%;
    padding-right: 5px;
  }
}

@media (min-width: 1440px){
  .engine-specifications-container {
    width: 100vw;
    margin: 0;
  }
  
  main .section .engine-specifications-wrapper  {
    width: 100vw;
    padding: 0 0 80px;
    background-color: #F7F7F7;
    margin-top: 0 !important;
  }
  
  .engine-specifications.engine {
    background-color: var(--c-white);
    border-radius: 12px;
    margin: 0 calc(50vw - 550px);
    width: 1100px;
  }

  .engine-specifications .engine-title {
    margin-top: 40px;
  }

  .engine-specifications .item-list {
    justify-content: space-around;
    margin-bottom: 37px;
  }

  .engine-specifications .item-list li {
    width: 25%;
  }
}