@import url('./chart.css');

.performance {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;
  width: 100vw;
  height: fit-content;
}

.performance .performance-title {
  font-size: var(--heading-font-size-l);
  color: #141414;
  margin: 0;
  padding-bottom: 8px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.25px;
}

.performance .engine-rating .rating-title {
  font-size: var(--heading-font-size-s);
  color: #888B8D;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-align: center;
}

.performance .rating-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 5vw;
  margin-top: 20px;
}

.performance .rating-item {
  font-family: var(--ff-volvo-novum);
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  text-align: center;
  line-height: 100%;
  list-style: none;
  margin: 20px 0 0;
}

.performance a,
.performance a:visited {
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 12px;
}

.performance .engine-rating .rating-item a:hover {
  border-bottom: 2px solid #888B8D;
}

.performance .engine-rating .rating-item[data-active] a {
  color: #141414;
  border-bottom: 2px solid #141414;
}

@media (min-width: 745px) {
  .performance .rating-list {
    justify-content: center;
    padding: 0;
  }

  .performance .rating-item {
    margin: 20px 21px 0;
  }
}
