:root {
  --stories-carousel-img-height: 342px;
  --stories-carousel-img-width: 85%;
  --stories-carousel-gap: 12px;
}

/* Full width block */
body .section.v2-stories-carousel-container .v2-stories-carousel-wrapper {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

/* End Full width block */

.v2-stories-carousel {
  position: relative;
}

.v2-stories-carousel ul {
  list-style: none;
  padding: 0;
}

.v2-stories-carousel-items {
  display: flex;
  gap: var(--stories-carousel-gap);
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-align: center;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.v2-stories-carousel-items::-webkit-scrollbar {
  display: none;
}

.v2-stories-carousel-item {
  flex: 0 0 var(--stories-carousel-img-width);
  scroll-snap-align: center;
  text-align: center;
}

.v2-stories-carousel-item:first-child {
  margin-left: calc(100% - var(--stories-carousel-img-width)/2);
}

.v2-stories-carousel-items::after {
  content: '';
  display: block;
  flex: 0 0 calc(100% - var(--stories-carousel-img-width)/2);
}

.v2-stories-carousel-item picture img {
  display: block;
  height: var(--stories-carousel-img-height);
  object-fit: cover;
  width: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.v2-stories-carousel-text {
  font-family: var(--font-family-body);
  font-size: var(--f-body-font-size);
  letter-spacing: var(--f-body-letter-spacing);
  line-height: var(--f-body-line-height);
  opacity: 0;
  padding-bottom: 24px;
  padding-top: 24px;
  pointer-events: none;
  text-align: center;
  text-wrap: balance;
  transition: opacity var(--duration-small) var(--easing-exit);
  will-change: opacity;
}

.v2-stories-carousel-item.active .v2-stories-carousel-text {
  opacity: 1;
  pointer-events: auto;
  transition: opacity var(--duration-medium) var(--easing-entrance);
}

.v2-stories-carousel-text h3 {
  font-family: var(--font-family-body);
  font-size: var(--f-heading-5-font-size);
  line-height: var(--f-heading-5-line-height);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(2 * var(--f-heading-5-font-size) * var(--f-heading-5-line-height));
}

.v2-stories-carousel-text p {
  margin: 0;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(2 * var(--f-body-font-size) * var(--f-body-line-height));
}

ul.v2-stories-carousel-meta {
  color: var(--c-grey-4);
  display: flex;
  font-size: var(--f-body-font-size);
  justify-content: center;
  letter-spacing: var(--f-body-letter-spacing);
  line-height: var(--f-body-line-height);
  margin: 16px 0 0;
}

.v2-stories-carousel-meta li {
  place-items: center center;
  display: flex;
  gap: 4px;
}

.v2-stories-carousel-meta .v2-stories-carousel-date {
  margin-right: 16px;
}

.v2-stories-carousel-meta li.v2-stories-carousel-author {
  display: none;
}

.v2-stories-carousel-author address {
  font-style: normal;
}

.v2-stories-carousel-cta {
  margin-top: 16px;
}

.v2-stories-carousel-cta .icon {
  height: 24px;
  width: 24px;
}

/* Arrow controls */
.v2-stories-carousel-arrowcontrols {
  display: none;
  margin: 0;
}

.v2-stories-carousel-arrowcontrols li {
  align-items: center;
  display: flex;
  height: var(--stories-carousel-img-height);
  left: 10%;
  position: absolute;
  top: 0;
}

.v2-stories-carousel-arrowcontrols li:last-child {
  left: auto;
  right: 10%;
}

.v2-stories-carousel-arrowcontrols button {
  background-color: var(--c-white);
  border-radius: 50%;
  border: 1px solid var(--c-grey-400);
  color: var(--c-main-black);
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 12px;
  position: relative;
  opacity: 0;
  transition: opacity var(--duration-small) var(--easing-standard);
}

.v2-stories-carousel-arrowcontrols button:hover {
  background-color: var(--c-grey-50);
}

.v2-stories-carousel-arrowcontrols button:active {
  background-color: var(--c-grey-100);
}

.v2-stories-carousel-arrowcontrols button:focus {
  outline: 0;
}

.v2-stories-carousel-arrowcontrols button:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 1px;
}

.v2-stories-carousel:hover .v2-stories-carousel-arrowcontrols button,
.v2-stories-carousel-arrowcontrols button:focus-visible, /* stylelint-disable-line no-descending-specificity */
.v2-stories-carousel-arrowcontrols:focus-within button {
  opacity: 1;
}

@media screen and (min-width: 744px) {
  :root {
    --stories-carousel-img-height: 378px;
    --stories-carousel-img-width: 506px;
    --stories-carousel-gap: 22px;
  }

  .v2-stories-carousel-items {
    margin: 0 auto;
    padding: 0;
    z-index: 1;
  }

  .v2-stories-carousel-item:first-child {
    margin-left: calc(50% - var(--stories-carousel-img-width)/2);
  }

  .v2-stories-carousel-items::after {
    flex-basis: calc(50% - var(--stories-carousel-img-width)/2);
  }

  .v2-stories-carousel-text {
    margin: 0 auto;
    max-width: 419px;
    padding: 32px 0;
  }

  .v2-stories-carousel-text h3 {
    font-size: var(--f-heading-4-font-size);
    letter-spacing: var(--f-heading-4-letter-spacing);
    line-height: var(--f-heading-4-line-height);
  }

  ul.v2-stories-carousel-meta {
    margin-top: 24px;
  }

  .v2-stories-carousel-meta li.v2-stories-carousel-author {
    display: flex;
  }

  .v2-stories-carousel-meta li {
    gap: 8px;
  }

  .v2-stories-carousel-cta {
    margin-top: 24px;
  }

  .v2-stories-carousel-arrowcontrols {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(var(--stories-carousel-img-height) + 32px);
    width: 100%;
    z-index: 1;
  }

  .v2-stories-carousel-arrowcontrols li {
    position: relative;
  }

  .v2-stories-carousel-arrowcontrols li:first-child {
    left: 32px;
  }
  
  .v2-stories-carousel-arrowcontrols li:last-child {
    right: 32px;
  }
  
  .v2-stories-carousel-arrowbutton {
    background-color: transparent;
    border: 0;
    color: var(--c-main-black);
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  .v2-stories-carousel-arrowbutton:focus {
    outline: 0;
  }
  
  .v2-stories-carousel-arrowbutton:focus-visible {
    outline: 2px solid var(--border-focus);
    outline-offset: 1px;
  }

  .v2-stories-carousel-arrowbutton:disabled,
  .v2-stories-carousel-arrowbutton:disabled:hover {
    background-color: transparent;
    filter: opacity(0.2);
  }

  .v2-stories-carousel-arrowbutton .icon {
    height: 48px;
    width: 48px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --stories-carousel-img-height: 520px;
    --stories-carousel-img-width: 694px;
  }

  .v2-stories-carousel {
    max-width: calc(var(--stories-carousel-img-width) * 2.9);
    margin: auto;
  }

  .v2-stories-carousel-text {
    max-width: 456px;
  }
  
  .v2-stories-carousel-text p,
  ul.v2-stories-carousel-meta {
    font-size: var(--f-body-font-size-desktop);
  }

  .v2-stories-carousel-arrowcontrols {
    justify-content: flex-end;
  }

  .v2-stories-carousel-arrowcontrols li:first-child {
    left: auto;
  }

  .v2-stories-carousel-arrowcontrols li:last-child {
    margin-left: 24px;
    margin-right: 135px;
    right: auto;
  }
}
