.pagination-nav {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .pagination-nav {
    margin-top: 20px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.pagination-item {
  display: flex;
  align-items: center;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  color: var(--c-grey-4);
  width: 32px;
  height: 32px;
}

.pagination-button:hover {
  background-color: rgb(20 20 20 / 4%);
}

.pagination-button.active {
  background-color: var(--c-black);
  color: var(--c-white);
}

.pagination-button.active:hover {
  background-color: var(--c-grey-700);
}

.pagination-arrow {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  color: var(--c-main-black);
}

.pagination-arrow.prev {
  margin-right: 11px;
}

.pagination-arrow.next {
  margin-left: 11px;
}

.pagination-arrow:hover {
  color: var(--c-black);
}

.pagination-arrow:disabled {
  background-color: transparent;
  color: var(--c-grey-2);
  cursor: not-allowed;
}

.pagination-arrow:disabled:hover {
  background-color: transparent;
  color: var(--c-grey-2);
  cursor: not-allowed;
}

.pagination-arrow:not([disabled]):hover {
  background-color: rgb(20 20 20 / 4%);
}

.pagination-dots {
  cursor: not-allowed;
  font-size: 14px;
  padding: 0 10px;
  color: var(--c-dark-blue);
}

.section--black-background {
  /* stylelint-disable-next-line no-descending-specificity */
  .pagination-arrow {
    color: var(--c-grey-300);
  }

  .pagination-arrow:disabled {
    color: #6b6b6b;
  }

  .pagination-arrow:not([disabled]):hover {
    background-color: var(--c-grey-900);
  }

  .pagination-button {
    color: var(--c-grey-300);
  }

  .pagination-button.active {
    background-color: var(--c-white);
    color: var(--c-main-black);
  }

  .pagination-button.active:hover {
    background-color: var(--c-grey-200);
  }

  .pagination-button:hover {
    background-color: var(--c-grey-900);
  }

  .pagination-dots {
    color: var(--c-grey-300);
  }
}
