main {
  font-family: system-ui, Arial;
}

main .intro {
  font-size: 1.2rem;
}

main input {
  width: 100%;
  font-size: 2rem;
  border: none;
  border-bottom: solid 1px grey;
  padding-top: 5px;
  font-family: inherit;
}

main .filter {
  padding: 20px 10px 20px 10px;
}

main #selected {
  padding: 30px;
}

main #selected button {
  border-radius: 1em;
  padding: 5px 20px;
}

#results {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 150px;
}

#results > .category {
  user-select: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main > div > span,
main > div > div > span {
  white-space: nowrap;
  margin: 6px 4px;
}

main {
  padding: 20px;
  font-size: 1.3rem;
  line-height: 1.2em;
}

span.tag {
  color: lightgrey;
  padding: 2px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.tag {
  padding-top: 5px;
}

.selected span.tag {
  background-color: #888888;
  color: lightgrey;
}

.tag.cat-0 {
  background-color: #0d66d0;
}

.tag.cat-1 {
  background-color: #d7373f;
}

.tag.cat-2 {
  background-color: #12805c;
}
.tag.cat-3 {
  background-color: #d2b200;
}

span.tag .highlight {
  font-weight: 700;
  color: white;
}

span.path {
  cursor: pointer;
  border-radius: 10px;
  border: 1px dashed black;
  padding: 4px 10px 2px 10px;
  font-size: 12px;
}

span.path.filtered {
  display: none;
}

span.psep {
  font-size: 20px;
  font-weight: bold;
}

#selected {
  position: fixed;
  bottom: 0;
  background-color: lightsalmon;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  display: grid;
  gap: 1rem
}

@media(min-width: 600px) {
  #selected {
    grid-template-columns: 1fr 100px;
  }
}

#selected button:disabled {
  background-color: #ccc;
  color: grey;
}

#selected button {
  background-color: #F25749;
  color: white;
  border: 1px solid white;
  font-size: 13px;
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
}

.hidden {
  display: none !important;
}

.offscreen {
  position: absolute;
  top: -1000px;
}