.v2-newsletter__container {
  --v2-newsletter-padding: 24px;
  --v2-newsletter-gap: 24px;

  background-color: var(--c-grey-50);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--v2-newsletter-gap);
  padding: var(--v2-newsletter-padding);
}

.v2-newsletter__text {
  background-color: var(--c-grey-50);
  color: var(--c-main-black);
  text-align: center;
  text-wrap: balance;
}

.v2-newsletter__text > *:last-child {
  margin-bottom: 0;
}

.v2-newsletter__title {
  font-family: var(--font-family-body);
  font-size: var(--f-heading-5-font-size);
  letter-spacing: var(--f-heading-5-letter-spacing);
  line-height: var(--f-heading-5-line-height);
}

/* Form */
.v2-newsletter__form-container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--v2-newsletter-gap);
}

.v2-newsletter__form-container .v2-forms__floating-label-group {
  width: 100%;
}

.v2-newsletter__form-container input[type="email"],
.v2-newsletter__form-container .v2-forms__floating-label-group {
  margin: 0;
}

.v2-newsletter__form-container p {
  margin: 0;
  max-width: var(--text-block-max-width);
  text-align: center;
}

@media screen and (min-width: 744px) {
  .v2-newsletter__container {
    --v2-newsletter-padding: 24px 32px;
    --v2-newsletter-gap: 32px;
    --v2-newsletter-form-width: 616px;
  }

  /* Form */
  .v2-newsletter__form-container form {
    flex-direction: row;
    gap: 16px;
    max-width: var(--v2-newsletter-form-width);
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .v2-newsletter__container {
    --v2-newsletter-padding: 32px 48px;
    --v2-newsletter-gap: 64px;
    --v2-newsletter-form-width: 456px;

    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .v2-newsletter__text {
    text-align: left;
  }

  /* Form */
  .v2-newsletter__form-container input[type="email"] {
    min-width: 300px;
  }
}