body.magazine>main {
  position: relative;
  padding: 108px 15px 0 15px;
  margin: 0 auto;
}

body.magazine>main .section.template .row.size-img {
  display: flex;
  flex-direction: column;
  height: 410px;
  padding: 0;
  flex-wrap: wrap;
  overflow: hidden;
}

body.magazine>main .section.template .row.size-img picture {
  width: 100%;
  order: 2;
  height: 140px;

}

body.magazine>main .section.template .row.size-img picture img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

body.magazine>main .section.template.article-hero>div>div.content {
  order: 1;
  width: 100%;
  height: 175px;
}

body.magazine>main i.fa {
  font-size: 20px;
  min-width: 20px;
  display: inline-block;
  vertical-align: middle;
}

body.magazine>main .section.template.article-hero>div>div>div.top-details.hide-desktop {
  display: inline-grid;
  grid: 24px / 25px 90px 25px 55px;
}

body.magazine>main .section.template.article-hero>div>div>h3.title-sentence {
  font-size: 24px !important;
  letter-spacing: -.1px !important;
  color: var(--volvo-text-gray);
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 32px !important;
}

body.magazine>main .section.template.article-hero>div>div>div.details>span.author {
  white-space: nowrap;
  margin-top: 6px;
  padding: 0 10px 0 0;
}

body.magazine>main .section.template.article-hero>div>div>div.details .hide-mobile {
  display: none;
}

body.magazine>main .section.template.article-hero>div>div>div.top-details {
  font-size: var(--body-font-size-xs);
}

body.magazine>main .section.template.article-hero>div>div>div.details {
  color: var(--volvo-text-light-gray);
  font-size: var(--body-font-size-xs);
  display: inline-grid;
  grid: 33px / 45px auto 25px 100px 25px auto;
}

body.magazine>main .section.template.article-hero>div>div>div.details>i.fa-user {
  line-height: 35px;
  border-radius: 35px;
  background-color: var(--volvo-text-light-gray);
  color: var(--c-white);
  text-align: center;
  font-size: 15px;
  width: 35px;
}

body.magazine>main .section.template.article-sidebar>div.topics>ul.topic-list>li {
  list-style: none;
  line-height: 1.2;
  color: var(--volvo-text-light-gray);
}

body.magazine>main .section.template.article-sidebar>div.topics>ul.topic-list>li::before {
  content: '';
  border: 4px solid var(--volvo-text-gray) !important;
  margin-top: 5px;
  margin-left: -20px;
  position: absolute;
}

body.magazine>main .section.article-sidebar .share-icons button {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #f4f3f2;
  border: 0;
  margin: 10px;
}

body.magazine>main .section.article-sidebar .share-icons button i {
  font-size: 16px;
}

body.magazine>main .share {
  border-top: 1px solid var(--btn-background-hover);
  padding-top: 30px;
}

body.magazine>main .section.template.article-sidebar>div.subscribe {
  border-top: 1px solid var(--background-hover-color);
  padding-top: 30px;
  margin-top: 30px;
}

body.magazine>main .section.template.article-sidebar>div.subscribe>a {
  border: 2px solid var(--volvo-text-gray);
  user-select: none;
  color: var(--c-white);
  background-color: var(--volvo-text-gray);
  padding: 15px 40%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  font-weight: 700;
  white-space: nowrap;
}

body.magazine>main .section.template.article-sidebar>div.subscribe>a>i {
  font-size: 16px;
  padding-bottom: 4px;
}

body.magazine>main .section.article-sidebar p {
  color: var(--volvo-text-gray);
  font-weight: 700;
  font-size: 12px;
}

div#sidebar.section.template.article-sidebar.loading {
  visibility: hidden;
}

body.magazine>main .section.related-articles-container>div.default-content-wrapper {
  text-align: center;
}

body.magazine>main div.default-content-wrapper>blockquote>p::before,
body.magazine>main div.default-content-wrapper>blockquote>p::after {
  content: none;
}

body.magazine>main div.default-content-wrapper>blockquote>p>picture {
  float: left;
  padding-right: 20px;
}

body.magazine>main div.default-content-wrapper>blockquote>p {
  quotes: none;
  text-align: center;
  display: table;
}

div.section.related-articles-container>div.related-articles-wrapper {
  border-top: 1px solid var(--background-hover-color);
}

#driving-progress {
  font-family: var(--ff-volvo-broadprodigital);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 3.6px;
}

div.section.eloqua-form-container {
  background-color: #D8D8D8;
  margin: 35px 0;
  padding: 35px;
  position: relative;
  float: right;
}

div.section.eloqua-form-container > div.default-content-wrapper {
  text-align: center;
}

div.section.eloqua-form-container > div.eloqua-form-wrapper {
  margin: 10px auto;
}

@media screen and (min-width: 992px) {
  body.magazine>main {
    padding-top: 0;
    width: 75% !important;
  }

  body.magazine>main .section>div {
    width: 75%;
  }

  body.magazine>main .section.template .row.size-img {
    flex-direction: unset;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  body.magazine>main .section.template.article-hero>div>div>div.top-details.hide-desktop {
    display: none;
  }

  body.magazine>main .section.template.article-hero>div>div>div.details>.hide-mobile {
    display: inline;
    margin-top: 6px;
    padding-left: 8px;
  }

  body.magazine>main .section.template .row.size-img picture {
    order: 1;
    flex: 0 0 50%;
    max-width: 50%;
    height: unset;
  }

  body.magazine>main .section.template .row.size-img picture img {
    height: 410px !important;
  }

  body.magazine>main .section.template.article-hero>div>div.content {
    order: 2;
    border-top: 1px solid var(--background-hover-color);
    border-bottom: 1px solid var(--background-hover-color);
    flex: 0 0 50%;
    max-width: 50%;
    padding: 30px 45px;
    height: 100%;
    position: relative;
  }

  .section.template.article-hero>div>div>div.details {
    position: absolute;
    bottom: 10px;
  }

  body.magazine>main .section .default-content-wrapper,
  body.magazine>main .section .teaser-cards-wrapper,
  body.magazine>main .section .teaser-grid-wrapper,
  body.magazine>main .section .columns-wrapper,
  body.magazine>main .section .related-articles-wrapper {
    float: right;
    margin: 0 1%;
    width: 75%;
    height: 100%;
  }

  body.magazine>main .section.default-content-wrapper>div {
    width: 100%;
  }

  body.magazine>main .section.template.article-sidebar {
    width: 20% !important;
    margin: 0 1%;
    padding: 6px 0 0;
  }

  body.magazine>main .section.template.article-sidebar>div {
    width: 100%;
  }

  body.magazine>main .section.template.article-sidebar>div.subscribe>.cta {
    padding: 15px 32px;
  }
}