.embed-video {
  margin: auto;
}

.embed-video-iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .embed-video {
    width: 726px;
  }
}

@media screen and (min-width: 1300px) {
  .embed-video {
    width: 1170px;
  }
}