:root {
  --v2-feature-carousel-card-padding: 24px;
  --v2-feature-carousel-card-width: 150px;
  --v2-feature-carousel-card-height: 200px;
  --v2-feature-carousel-icon-size: 48px;
  --v2-feature-carousel-svg-size: 24px;
  --v2-feature-carousel-border-radius: var(--border-radius);
}

.v2-feature-carousel-container .v2-feature-carousel-wrapper {
  max-width: 1330px;
  width: 100%;
}

.v2-feature-carousel .v2-feature-carousel__cards-list {
  display: flex;
  gap: 16px;
  scroll-snap-type: x mandatory;
  overflow: auto;
  flex-flow: row nowrap;
}

.v2-feature-carousel__card {
  background: var(--card-background);
  color: var(--card-text);
  display: flex;
  flex: 0 0 auto;
  width: var(--v2-feature-carousel-card-width);
  height: var(--v2-feature-carousel-card-height);
  padding: var(--v2-feature-carousel-card-padding);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: var(--v2-feature-carousel-border-radius);
  scroll-snap-align: center;
}

.v2-feature-carousel__card:first-child {
  margin-left: auto;
}

.v2-feature-carousel__card:last-child {
  margin-right: auto;
}

.v2-feature-carousel__card .icon {
  width: var(--v2-feature-carousel-icon-size);
  height: var( --v2-feature-carousel-icon-size);
  border: 1px solid;
  color: var(--c-grey-3);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.v2-feature-carousel__card .icon svg {
  width: var(--v2-feature-carousel-svg-size);
  height: var(--v2-feature-carousel-svg-size);
}

.v2-feature-carousel__card .icon-graph svg {
  fill: none;
}

@media screen and (min-width: 1200px) {
  :root {
    --v2-feature-carousel-card-padding: 32px 24px;
    --v2-feature-carousel-card-width: 200px;
    --v2-feature-carousel-card-height: 235px;
    --v2-feature-carousel-icon-size: 64px;
    --v2-feature-carousel-svg-size: 32px;
    --v2-feature-carousel-border-radius: 10px;
  }
}