/* stylelint-disable selector-class-pattern */
.v2-video-wrapper {
  padding: 0 !important;
  color: var(--c-white);
  margin: 0 !important;
  width: 100% !important;
}

.v2-video {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 100vh;
  clip-path: inset(24px 24px round 8px);
  transition: clip-path 0.3s ease-in-out;
}

.v2-video.v2-video--full-width {
  clip-path: inset(0 0 round 8px);
}

.v2-video .v2-video__video {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  max-width: 100%;
  width: 100%;
}

.v2-video .v2-video__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(0deg, rgb(0 0 0 / 50%) 0%, rgb(0 0 0 / 0%) 100%);
  width: 100%;
}

.v2-video .v2-video__content {
  margin: 48px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-shadow: 0 1.1128px 66.7674px 0 rgb(0 0 0 / 0%);
  font-family: var(--font-family-body);
  font-size: 16px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.5px;
  text-align: center;
}

.v2-video .v2-video__content * {
  margin: 0;
}

.v2-video .v2-video__content p {
  font-family: var(--font-family-body);
  font-size: 16px;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.5px;
}

.v2-video .v2-video__heading {
  font-family: var(--font-family-heading);
  font-size: 24px;
  font-style: normal;
  line-height: 125%;
}

.v2-video .v2-video__content .v2-video__button.primary {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding: 9px 0;
  background: transparent;
  color: var(--c-white);
  border: 0;
  width: auto;
  display: inline-flex;
}

@media (min-width: 744px) {
  .v2-video {
    clip-path: inset(32px 48px round 8px);
  }

  .v2-video .v2-video__content {
    margin: 64px;
  }

  .v2-video .v2-video__heading {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .v2-video {
    clip-path: inset(140px calc((100vw - var(--wrapper-width)) / 2) round 8px);
  }

  .v2-video .v2-video__content-wrapper {
    justify-content: center;
  }

  .v2-video .v2-video__content {
    margin: auto calc((100vw - 1200px) / 2 + 135px);
    text-align: left;
    max-width: 406px;
  }
}
