.eloqua-form {
  font-size: 16px;
  max-width: 960px;
  margin: auto;
}

.eloqua-form .elq-form .container-fluid {
  padding: 0;
}

.eloqua-form input:hover {
  border: none;
}

.eloqua-form .elq-item-input,
.eloqua-form .elq-item-select,
.eloqua-form .elq-item-textarea {
  display: block;
  padding: 10px 40px 10px 15px;
  border: none;
  border-radius: 0;
  background-color: var(--background-light-gray);
  appearance: none;
  max-width: none;
}

.eloqua-form .submit-button-style,
aside>div>div>div>p.button-container>a.button.primary {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  padding: 12px 32px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background: var(--link-color);
  color: var(--c-white);
  border: none;
  margin-bottom: 30px;
  width: auto;
}
aside>div>div>div>p.button-container>a.button.primary::after {
  content: unset;
}
.eloqua-form input[type="checkbox"] {
  width: auto;
}

.eloqua-form .single-checkbox-row.row {
  display: flex;
  justify-content: center;
}

.eloqua-form .eloqua-select-wrapper {
  position: relative;
}

.eloqua-form .eloqua-select-wrapper::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 20px;
  font-family: var(--ff-fontawesome);
  font-size: 24px;
  line-height: 24px;
  margin-top: -12px;
  content: "\f107";
  color: var(--link-color);
  pointer-events: none;
}

/* stylelint-disable selector-class-pattern */
.eloqua-form .field-control-wrapper,
.eloqua-form span.LV_validation_message {
  width: 100%;
  margin: auto;
  text-align: center;
  display: block;
}

.eloqua-form span.LV_validation_message.LV_valid {
  display: none;
}
