@charset "UTF-8";.MediumTitleSentence,h3.MediumTitleSentence {
    line-height: 32px!important
}

.fa {
    display: inline-block
}

body,html {
    -webkit-text-size-adjust: 100%
}

html {
    -webkit-tap-highlight-color: transparent
}

@font-face {
    font-family: VolvoNovumRegular;
    src: url(fonts/VolvoNovum/VolvoNovumRegular/VolvoNovum-Regular.eot?#iefix) format("embedded-opentype"),url(fonts/VolvoNovum/VolvoNovumRegular/VolvoNovum-Regular.woff) format("woff"),url(fonts/VolvoNovum/VolvoNovumRegular/VolvoNovum-Regular.ttf) format("truetype"),url(fonts/VolvoNovum/VolvoNovumRegular/VolvoNovum-Regular.svg#VolvoNovum-Regular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: VolvoNovumMedium;
    src: url(fonts/VolvoNovum/VolvoNovumMedium/VolvoNovum-Medium.eot?#iefix) format("embedded-opentype"),url(fonts/VolvoNovum/VolvoNovumMedium/VolvoNovum-Medium.woff) format("woff"),url(fonts/VolvoNovum/VolvoNovumMedium/VolvoNovum-Medium.ttf) format("truetype"),url(fonts/VolvoNovum/VolvoNovumMedium/VolvoNovum-Medium.svg#VolvoNovum-Medium) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: VolvoBroadProDigital;
    src: url(fonts/VolvoNovum/VolvoBroadProDigital/VolvoBroadProDigital.eot?#iefix) format("embedded-opentype"),url(fonts/VolvoNovum/VolvoBroadProDigital/VolvoBroadProDigital.woff) format("woff"),url(fonts/VolvoNovum/VolvoBroadProDigital/VolvoBroadProDigital.svg#VolvoBroadProDigital) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: fontawesome;
    src: url(fonts/fontawesome/fontawesome-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/fontawesome/fontawesome-webfont.woff) format("woff"),url(fonts/fontawesome/fontawesome-webfont.ttf) format("truetype"),url(fonts/fontawesome/fontawesome-webfont.svg#fontawesome) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: vnx;
    src: url(fonts/vnx/vnx-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/vnx/vnx-webfont.woff) format("woff"),url(fonts/vnx/vnx-webfont.ttf) format("truetype"),url(fonts/vnx/vnx-webfont.svg#vnx) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

h2 {
    text-transform: none!important
}

.MediumTitleSentence,.SmallTitleRegular,h3.MediumTitleSentence {
    font-family: VolvoNovumMedium,sans-serif!important;
    font-size: 24px!important;
    letter-spacing: -.1px!important;
    color: #53565A
}

h3.MediumTitleSentence {
    margin-bottom: 10px
}

h3.SmallTitleRegular {
    margin-bottom: 10px
}

@font-face {
    font-family: VolvoBroadProDigital,sans-serif;
    src: url(fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.woff) format("woff"),url(fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.ttf) format("truetype"),url(fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.svg#VolvoBroadProDigital) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: fontawesome;
    src: url(fonts/fontawesome/fontawesome-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/fontawesome/fontawesome-webfont.woff) format("woff"),url(fonts/fontawesome/fontawesome-webfont.ttf) format("truetype"),url(fonts/fontawesome/fontawesome-webfont.svg#fontawesome) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: vnx;
    src: url(fonts/vnx/vnx-webfont.eot?#iefix) format("embedded-opentype"),url(fonts/vnx/vnx-webfont.woff) format("woff"),url(fonts/vnx/vnx-webfont.ttf) format("truetype"),url(fonts/vnx/vnx-webfont.svg#vnx) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0)
}

body {
    margin: 0
}

.fa-search:before {
    content: "\f002"
}

.fa-star-o:before {
    content: "\f006"
}

.fa-close:before {
    content: "\f00d"
}

.fa-external-link:before {
    content: "\f08e"
}

.fa-copy:before {
    content: "\f0c5"
}

.fa-angle-left:before {
    content: "\f104"
}

.fa-angle-right:before {
    content: "\f105"
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%
}

body {
    background-color: #FFF
}

article,footer,header,main,nav,section {
    display: block
}

canvas {
    display: inline-block;
    vertical-align: baseline
}

[hidden] {
    display: none
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline: 0
}

strong {
    font-weight: 700
}

.btn:active,.cta:active {
    background-image: none
}

img {
    border: 0;
    vertical-align: middle
}

svg:not(:root) {
    overflow: hidden
}

kbd {
    font-family: monospace,monospace;
    font-size: 1em
}

button,input {
    color: inherit;
    font: inherit;
    margin: 0
}

.cta.thin::after,.cta::after {
    font-family: fontawesome
}

button {
    overflow: visible
}

button {
    text-transform: none
}

button {
    -webkit-appearance: button;
    cursor: pointer
}

button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

.sr-only {
    border: 0
}

.sr-only,td {
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.mobile-img {
    margin-top: -3px
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0)
}

header .header-container .title .location {
    text-transform: uppercase
}

@media (min-width: 768px) {

    .container {
        width: 756px
    }
}

header .header-container:after,header.refresh-header .header-container .header-primary-container {
    clear: both
}

.container {
    margin-right: auto;
    margin-left: auto
}

.container {
    padding-left: 15px;
    padding-right: 15px
}

.cta.thin::after,.cta::after {
    content: "\f105"
}

@media (min-width: 992px) {
    .container {
        width:960px
    }
}

@media (min-width: 1300px) {
    .container {
        width:1200px
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px
}

.col-md-10,.col-md-12,.col-md-2,.col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 768px) {
    .col-sm-12 {
        float:left
    }

    .col-sm-12 {
        width: 100%
    }
}

@media (min-width: 992px) {
    .col-md-10,.col-md-12,.col-md-2 {
        float:left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-offset-1 {
        margin-left: 8.33333333%
    }
}

.btn,.cta {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid transparent;
    white-space: nowrap;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.cta.thin {
    text-align: left
}

.btn:active:focus,.btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.btn:focus,.btn:hover {
    color: #333;
    text-decoration: none
}

.btn:active {
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
}

.cta {
    color: #53565A;
    background-color: #FFF;
    border-color: #53565A
}

.cta:focus {
    color: #53565A;
    background-color: #E1DFDD;
    border-color: #101011
}

.cta:active,.cta:hover {
    color: #53565A;
    background-color: #E1DFDD;
    border-color: #303033
}

.cta:active:focus,.cta:active:hover {
    color: #53565A;
    background-color: #d4d4d4;
    border-color: #101011
}

.cta::after {
    padding-left: 8px
}

.cta:focus,.cta:hover {
    color: #53565A
}

.cta.thin {
    line-height: .5;
    width: 90%;
    bottom: 0;
    left: 0;
    margin-left: 5px;
    font-weight: initial;
    border: 0;
    padding-left: 0;
    padding-right: 0
}

.cta.thin:hover {
    background-color: initial
}

.cta.thin:hover::after {
    margin-left: 5px
}

.cta.thin:focus {
    background: 0 0
}

.cta.thin::after {
    padding-left: 8px;
    color: #00f;
    transition: all .3s ease
}

h3:first-child,h5:first-child {
    margin-top: 0
}

.collapse {
    display: none
}

*,:after,:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

:focus {
    outline: 0
}

html {
    font-size: 62.5%;
    height: 100%
}

body {
    color: #53565A;
    font-family: VolvoNovumRegular,sans-serif,sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

button,input {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit
}

a {
    color: #004FBC;
    text-decoration: none;
    -webkit-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear
}

a:focus,a:hover {
    color: #0b326f;
    text-decoration: none
}

a:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

h2,h3,h4,h5 {
    position: relative;
    font-family: VolvoNovumRegular,sans-serif,sans-serif;
    font-weight: 400;
    color: inherit;
    text-rendering: optimizeLegibility
}

h2 {
    font-family: VolvoNovumMedium,sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #53565A
}

@media (max-width: 767px),print {
    h2 {
        font-size:32px;
        line-height: 32px
    }
}

h2 {
    color: #53565A
}

h2,h3 {
    font-family: VolvoNovumMedium,sans-serif;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -.1px
}

h2 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px
}

@media (max-width: 767px),print {
    h2 {
        font-size:32px;
        line-height: 32px;
        margin-top: 24px;
        margin-bottom: 0
    }

    h3 {
        font-size: 24px
    }
}

h3 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 0
}

h4,h5 {
    font-weight: 500;
    margin-top: 24px
}

h4,h5 {
    line-height: 24px;
    margin-bottom: 0
}

h4 {
    font-family: VolvoBroadProDigital,sans-serif;
    font-size: 22px
}

@media (max-width: 767px),print {
    h4 {
        font-size:19px
    }
}

h5 {
    font-size: 16px
}

p {
    font-weight: 400
}

@media (max-width: 767px),print {
    h5 {
        font-size:18px
    }
}

p {
    position: relative;
    margin: 0 0 24px;
    letter-spacing: -.1px
}

ul>li {
    margin-bottom: 0
}

ul {
    margin-top: 0
}

[class^=icon-] {
    background-size: contain;
    background-position: center center
}

ul {
    margin-bottom: 24px
}

ul>li {
    position: relative
}

.list-inline,.list-unstyled {
    padding-left: 0;
    list-style: none
}

.list-inline>li:first-child {
    padding-left: 0
}

.ovelay-mask {
    background-color: #7F7F7F;
    height: 100%;
    left: 0;
    opacity: .1;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 3;
    position: fixed;
    transition: visibility 0 linear .4s,opacity .4s cubic-bezier(.4,0,.2,1);
    transform: translateZ(0)
}

@font-face {
    font-family: VolvoNovum-Bold;
    src: url('Volvo Novum-Bold.woff') format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

header .side-nav-container {
    visibility: hidden
}

footer {
    margin-top: 48px;
    margin-bottom: 48px;
    background-color: #FFF
}

header .header-container .logo,header.mobile-menu .header-container .logo {
    margin-left: 10px;
    width: 98px;
    margin-right: 5px;
    height: 8px;
    display: inline-block
}

header .header-container {
    margin-top: 15px;
    margin-bottom: 12px;
    height: 68px
}

header .header-container:after,header .header-container:before {
    content: " ";
    display: table
}

header .header-container .logo {
    margin-top: 15px
}

header.mobile-menu .header-container .logo {
    margin-top: 30px
}

header .header-container .title {
    display: inline-block;
    max-width: 50%;
    margin-left: 8px;
    vertical-align: middle
}

header .header-container .title span {
    display: block;
    font-size: 12px;
    line-height: 16pt;
    font-family: VolvoNovumRegular,sans-serif
}

header .header-container .title span.section {
    font-weight: 700
}

header .header-container .mobile-menu-container {
    float: right;
    margin-top: 20px;
    text-align: right
}

header .header-container .mobile-menu-container a {
    font-size: 18px;
    line-height: 1em;
    color: #A7A8A9
}

header .header-container .mobile-menu-container .search-btn-toggle img {
    width: 16px;
    height: 16px;
    color: #A7A8A9
}

header .header-container .mobile-menu-container .side-menu-open img {
    width: 20px;
    height: 14px;
    margin-left: 8px;
    color: #A7A8A9;
    margin-bottom: 2px
}

header .side-nav-container {
    display: block;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    bottom: 0;
    width: 97%;
    padding: 0;
    transition-delay: .1s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .2s;
    transition-property: transform;
    transform: translateZ(0);
    transform: translateX(300px);
    color: #53565A;
    border-top: 1px solid rgba(255,255,255,.5);
    background: #E1DFDD;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transform-style: preserve-3d
}

.desktop-header {
    display: none
}

@media (min-width: 768px) {
    header .side-nav-container {
        width:50%
    }
}

header .side-nav-container .top-links {
    position: relative
}

header .side-nav-container .top-links .hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #A7A8A9
}

header .side-nav-container .top-links ul.icon-links {
    display: table;
    width: 100%;
    margin: 0;
    padding: 15px 45px 15px 0;
    table-layout: fixed
}

header .side-nav-container .top-links ul.icon-links li {
    display: inline-block;
    width: auto;
    text-align: center;
    padding-left: 4%
}

@media (max-width: 400px) {
    header .side-nav-container .top-links ul.icon-links li {
        padding-left:3%!important
    }
}

header .side-nav-container .top-links ul.icon-links li a {
    color: #53565A
}

header .side-nav-container .main-nav a {
    display: block;
    position: relative;
    color: #53565A
}

header .side-nav-container .main-nav .first-level {
    font-size: 14px;
    text-transform: uppercase;
    color: #53565A
}

header .side-nav-container .main-nav .first-level::after {
    position: absolute;
    right: 15px;
    content: "\f107"
}

header .side-nav-container .main-nav .second-level {
    font-size: 14px;
    text-transform: none;
    border-bottom-color: #dfe0e1;
    background-color: #f5f5f5
}

header .side-nav-container .main-nav .second-level::after {
    margin-left: 7.5px;
    content: "\f107"
}

header .side-nav-container .main-nav .third-level {
    padding: 0
}

header .side-nav-container .main-nav .third-level::after {
    margin-left: 7.5px;
    content: "\f105"
}

header .side-nav-container .main-nav .first-level {
    padding: 15px;
    border-bottom: 1px solid #E1DFDD
}

header .side-nav-container .main-nav .second-level {
    padding: 15px 15px 30px
}

header .side-nav-container .main-nav .first-level::after,header .side-nav-container .main-nav .second-level::after,header .side-nav-container .main-nav .third-level::after {
    display: inline-block;
    font-family: fontawesome;
    font-size: 14px;
    color: #004FBC
}

header .side-nav-container .main-nav .third-level-item {
    font-size: 14px;
    padding: 7.5px 15px;
    text-transform: none;
    background-color: #FFF
}

header .side-nav-container .main-nav .third-level-item:first-child {
    padding-top: 0
}

header .side-nav-container .main-nav .third-level-item:last-child {
    padding-bottom: 30px;
    padding-left: 30px
}

header .side-nav-container .main-nav .no-children::after {
    content: "\f105"
}

header.refresh-header-mobile {
    background-color: #fff
}

header.refresh-header-mobile .side-nav-container,header.refresh-header-mobile .side-nav-container .main-nav .first-level,header.refresh-header-mobile .side-nav-container .main-nav .second-level,header.refresh-header-mobile .side-nav-container .top-links {
    background-color: #FFF
}

header.refresh-header-mobile .side-nav-container {
    box-shadow: none;
    border-top: 1px solid #ebebea;
    overflow: hidden;
    z-index: 999
}

@media (min-width: 992px) {

    header.refresh-header-mobile .side-nav-container {
        overflow-y: scroll
    }
}

header.refresh-header-mobile .side-nav-container a:hover {
    cursor: pointer
}

header.refresh-header-mobile .side-nav-container .main-nav .no-children::after,header.refresh-header-mobile .side-nav-container .main-nav .third-level::after {
    content: none
}

header.refresh-header-mobile .side-nav-container .main-nav .first-level::after,header.refresh-header-mobile .side-nav-container .main-nav .first-level::before,header.refresh-header-mobile .side-nav-container .main-nav .second-level::after,header.refresh-header-mobile .side-nav-container .main-nav .second-level::before,header.refresh-header-mobile .side-nav-container .main-nav .third-level::after,header.refresh-header-mobile .side-nav-container .main-nav .third-level::before {
    display: inline-block;
    font-family: fontawesome;
    font-size: 14px;
    color: #53565A;
    position: absolute
}

header.refresh-header-mobile .side-nav-container .main-nav .first-level::after,header.refresh-header-mobile .side-nav-container .main-nav .second-level::after,header.refresh-header-mobile .side-nav-container .main-nav .third-level::after {
    right: 15px
}

header.refresh-header-mobile .side-nav-container .main-nav .first-level::before,header.refresh-header-mobile .side-nav-container .main-nav .second-level::before,header.refresh-header-mobile .side-nav-container .main-nav .third-level::before {
    left: 0;
    display: none
}

header.refresh-header-mobile .side-nav-container .main-nav .first-level::after {
    content: "\f105";
    font-size: 20px;
    width: 8px;
    height: 8px;
    margin-top: -4px
}

header.refresh-header-mobile .side-nav-container .main-nav .second-level:not(.no-children)::after {
    content: "\f067"
}

header.refresh-header-mobile .side-nav-container .top-links ul.icon-links {
    padding: 15px;
    font-size: 8pt;
    border-bottom: 1px solid #E1DFDD
}

header.refresh-header>.container {
    width: auto
}

@media (min-width: 768px) {
    header.refresh-header>.container {
        width:756px
    }
}

@media (min-width: 992px) {
    header.refresh-header>.container {
        width:93%
    }

    header.refresh-header .header-container .title {
        padding-left: 24px
    }
}

@media (min-width: 1300px) {
    header.refresh-header>.container {
        width:1200px
    }

    header.refresh-header .header-container .top-links.right-links {
        padding-right: 5px!important
    }
}

header.refresh-header .header-container {
    width: auto;
    margin: 0 -15px;
    height: 128px;
    color: #FFF
}

header.refresh-header .header-container .header-meta-links-container {
    margin-top: 25px
}

header.refresh-header .header-container .top-links {
    text-align: initial;
    display: inline-block
}

header.refresh-header .header-container .top-links.right-links {
    float: right;
    padding-right: 45px
}

header.refresh-header .header-container .header-meta-links {
    padding: 0
}

header.refresh-header .header-container .logo-container {
    width: auto
}

header.refresh-header .header-container .menu-container {
    width: auto;
    padding: 10px 0;
    float: right;
    margin-left: 3.5%
}

@media (max-width: 1300px) {
    header.refresh-header .header-container .menu-container {
        width:191px;
        padding-top: 10px;
        float: right;
        margin-right: 12%
    }
}

header.refresh-header .header-container .menu-container .search-form input {
    padding: 7.5px 35px 7.5px 15px
}

header.refresh-header .nav>li>a {
    padding: 15px 22px
}

@media (min-width: 992px) {
    header.refresh-header .nav .mega-menu {
        left:-25%;
        width: 100%;
        right: initial;
        padding: 40px 15px 0!important;
        margin-top: 0;
        border-top: 1px solid #ebebea
    }

    header.refresh-header .nav .mega-menu .navigationFooterCTA {
        margin-top: 22px
    }

    header.refresh-header .nav .mega-menu .product {
        height: auto;
        margin-bottom: 20px
    }

    header.refresh-header .nav .mega-menu .product .wrapper {
        text-align: initial
    }

    header.refresh-header .nav .mega-menu .product .wrapper a[itemprop=name] {
        color: #4d4c53
    }

    header.refresh-header .nav .mega-menu .product .wrapper a[itemprop=name]:after {
        font-family: fontawesome;
        padding-left: 8px;
        content: "\f105";
        color: #004FBC
    }

    header.refresh-header .nav .mega-menu .product .wrapper p[itemprop=description] {
        padding-top: 8px
    }

    header.refresh-header .nav .mega-menu .headerNavigationList p.description {
        float: right;
        display: inline-block;
        margin-top: 7px
    }

    header.refresh-header .nav .mega-menu .headerNavigationList li {
        padding-bottom: 4px
    }

    header.refresh-header .nav .mega-menu .headerNavigationList:nth-child(2) {
        padding-top: 30px
    }

    header.refresh-header .nav .mega-menu .headerNavigationList .row-container {
        border-bottom: 1px solid #ebebea;
        margin-bottom: 8px
    }

    header.refresh-header .nav .mega-menu .headerNavigationList .row-container .title a {
        color: #53565a
    }
}

@media (min-width: 992px) and (min-width:768px) {
    header.refresh-header .nav .mega-menu .headerNavigationList ul {
        margin-top:0
    }

    header.refresh-header .nav .mega-menu .headerNavigationList li a::after {
        font-family: fontawesome;
        padding-left: 8px;
        content: "\f105";
        color: #004FBC;
        font-weight: 700;
        font-size: 16px
    }
}

.ancillaryNavPopup.findadealer {
    display: none;
    background: #FFF;
    width: 337px;
    color: #000;
    text-align: left;
    padding: 25px 30px;
    margin: 18px 0 0 -130px;
    -webkit-transition: width 2s;
    transition: width 2s;
    -webkit-box-shadow: -1px 3px 5px 0 rgba(0,0,0,.39);
    -moz-box-shadow: -1px 3px 5px 0 rgba(0,0,0,.39);
    box-shadow: -1px 3px 5px 0 rgba(0,0,0,.39);
    position: absolute;
    z-index: 1
}

@media (max-width: 991px) {
    .ancillaryNavPopup.findadealer {
        display:none
    }
}

.ancillaryNavPopup.findadealer:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 16px 15px;
    position: absolute;
    right: 160px
}

.ancillaryNavPopup.findadealer:after {
    border-color: transparent transparent grey;
    top: -15px
}

@media (max-width: 1200px) {
    .ancillaryNavPopup.findadealer:after {
        top:-13px;
        right: 160px
    }
}

.headerNavigationList .product {
    height: 260px
}

.mobile-menu.refresh-header-mobile .side-nav-container .top-links ul.icon-links li a .icon-container-mobile {
    width: 26px!important;
    height: 26px!important;
    color: #888B8D!important;
    margin: 0 auto
}

.mobile-menu.refresh-header-mobile .side-nav-container .top-links ul.icon-links li a .icon-container-mobile img {
    margin-bottom: -10px;
    width: 16px;
    height: 16px
}

.mobile-menu.refresh-header-mobile .side-nav-container .top-links ul.icon-links .close-icon .side-menu-close img {
    width: 14px;
    height: 14px;
    margin-bottom: -15px
}

.mobile-menu.refresh-header-mobile .side-nav-container .top-links>ul>li {
    position: static
}

@media (max-width: 820px) {
    header .header-container .title {
        display:inline-block;
        max-width: 50%;
        margin-left: 24px;
        vertical-align: middle;
        margin-top: 15px
    }

    .refresh-header-mobile .side-nav-container .top-links ul.icon-links li a .icon-container-mobile {
        width: 26px!important;
        height: 26px!important;
        color: #888B8D!important;
        margin: 0 auto
    }

    .refresh-header-mobile .side-nav-container .top-links ul.icon-links li a .icon-container-mobile img {
        margin-bottom: -10px;
        width: 16px;
        height: 16px
    }

    .refresh-header-mobile .side-nav-container .top-links ul.icon-links .close-icon .side-menu-close img {
        width: 14px;
        height: 14px;
        margin-bottom: -15px
    }

    .refresh-header-mobile .side-nav-container .top-links>ul>li {
        position: static
    }
}

.product {
    text-align: center
}

.tooltip {
    font-family: VolvoNovumRegular,sans-serif;
    font-weight: 400
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 16px;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0)
}

.product p {
    display: none
}

.product .image-container img {
    margin-right: auto;
    margin-left: auto
}

form input[type=checkbox] {
    background: #fff;
    border: .0625rem solid #53565a;
    border-radius: .125rem;
    height: .8125rem;
    width: .8125rem
}

@media (min-width: 768px) {
    footer {
        background-color:#E1DFDD
    }

    .headerNavigationList ul li a::after {
        font-family: fontawesome;
        padding-left: 8px;
        content: "\f105"
    }

    .headerNavigationList p {
        font-size: 11.9px;
        margin-bottom: 8px;
        color: #A7A8A9
    }

    .headerNavigationList ul {
        margin-top: 16px
    }

    .headerNavigationList ul li {
        font-size: 14px;
        padding-top: 8px;
        padding-bottom: 8px
    }

    .headerNavigationList ul li:first-child {
        padding-top: 0
    }

    .headerNavigationList ul li a {
        font-size: 14px;
        cursor: pointer;
        color: #53565A
    }

    .headerNavigationList ul li a::after {
        color: #004FBC
    }
}

@media (min-width: 768px) {

    .navigationFooterCTA {
        background-color: #ebebea;
        margin-top: 40px;
        margin-bottom: -15px
    }

    .navigationFooterCTA p {
        text-align: center;
        font-size: 14px;
        color: #53565A;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0 0 0 8px
    }

    .navigationFooterCTA p a {
        color: #004FBC;
        display: inline;
        padding: 0;
        margin-left: 8px
    }

    .navigationFooterCTA p a::after {
        font-family: fontawesome;
        padding-left: 8px;
        content: "\f105"
    }
}

@media (min-width: 1300px) {

    header .navbar .nav {
        right: 1%!important
    }
}

@media (min-width: 992px) {

    header .header-container {
        font-size: 0;
        margin: 24px -15px 32px;
        height: 128px
    }

    .mobile-menu .container {
        width: 93%!important
    }

    .mobile-menu .header-container {
        font-size: 0;
        margin: 15px 0 12px;
        height: 68px!important
    }

    header .header-container:after,header .header-container:before {
        content: " ";
        display: table
    }

    header .header-container:after {
        clear: both
    }

    header .header-container .logo-container {
        display: inline-block;
        font-size: 16px;
        width: 50%;
        padding: 0 15px;
        vertical-align: middle
    }

    header .header-container .menu-container,header .header-container .top-links {
        font-size: 12px;
        text-align: right;
        font-family: VolvoNovumRegular,sans-serif
    }

    header .header-container .menu-container {
        display: inline-block;
        width: 50%;
        padding: 0 15px;
        vertical-align: middle;
        margin-left: 30px
    }

    header .header-container .header-meta-links {
        padding: 0 15px
    }

    header .header-container .top-links {
        margin-bottom: 0
    }

    header .header-container .top-links li {
        margin-left: 10px;
        padding-right: 0
    }

    header .header-container .top-links li .icon-container {
        width: 20px;
        height: 20px;
        color: #888B8D;
        display: inline-block;
        padding-left: 4px
    }

    header .header-container .top-links li .icon-container img {
        margin-bottom: 5px;
        color: #888B8D;
        width: 14px
    }

    header .header-container .top-links li:nth-child(1) .icon-container img,header .header-container .top-links li:nth-child(2) .icon-container img {
        width: 12px;
        height: 14px
    }

    header .header-container .top-links li a {
        color: #888B8D
    }

    header .header-container .top-links li a:hover {
        color: #7e8088
    }

    header .header-container .logo {
        width: 98px;
        height: 5px;
        margin-right: 0;
        color: #000
    }

    header .header-container .logo img {
        max-height: 70px;
        margin-top: -12px
    }

    header.mobile-menu .header-container .logo img {
        max-height: 70px;
        margin-top: -8px
    }

    header .header-container .title {
        max-width: 50%;
        margin-left: 0;
        padding-left: 32px;
        color: #000
    }

    header .header-container .title span {
        display: block;
        font-size: 14px;
        line-height: 16pt;
        font-family: VolvoNovumRegular,sans-serif
    }

    header .header-container .title span.section {
        font-size: 14px;
        font-weight: 700;
        color: #53565A;
        font-family: VolvoNovumRegular,sans-serif
    }

    header .header-container .title span.location {
        color: #A7A8A9
    }

    header .header-container .search-form {
        display: inline-block;
        position: relative;
        vertical-align: middle
    }

    header .header-container .search-form .search-box-container {
        left: 0
    }

    header .header-container .search-form input {
        width: 290px;
        height: 40px;
        padding: 7.5px 15px;
        color: #53565A;
        border: 1pt solid #E1DFDD;
        border-radius: 0;
        background-color: #fff;
        box-shadow: none
    }

    header .header-container .search-form input:focus {
        border: 1pt solid #53565A;
        outline: 0;
        box-shadow: none
    }

    header .header-container .search-form img {
        width: 16px;
        height: 16px;
        color: #A7A8A9
    }

    header .header-container .search-form img:hover {
        color: #53565A
    }

    header .header-container .search-form .search-btn {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 8px;
        padding: 7.5px 15px;
        color: #A7A8A9;
        border: none;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none
    }

    header .navbar {
        background-color: #E1DFDD
    }

    header .navbar .nav {
        position: relative;
        margin-bottom: 0;
        right: 12%
    }

    header .navbar .nav .mega-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        right: 0;
        left: 0;
        padding: 30px 15px 15px;
        box-shadow: 0 10px 15px rgba(0,0,0,.2)
    }

    header .navbar .nav .mega-menu .product p {
        font-size: 12px;
        line-height: 1em
    }

    header .navbar .nav>li {
        position: static;
        margin-left: -.25em;
        padding: 0
    }

    header .navbar .nav>li:first-child {
        margin-left: auto
    }

    header .navbar .nav>li:hover>a {
        background-color: #FFF
    }

    header .navbar .nav>li>a {
        display: inline-block;
        font-size: 12px;
        font-family: VolvoNovumRegular,sans-serif;
        padding: 15px 24px;
        text-transform: uppercase;
        color: #53565A;
        background-color: transparent
    }

    header .navbar .container {
        position: relative
    }
}

@media (min-width: 992px) {

    .product p {
        display: block
    }
}

.container:after,.container:before,.row:after,.row:before {
    content: " ";
    display: table
}

.container:after,.row:after {
    clear: both
}

.hide {
    display: none!important
}

@-ms-viewport {
    width: device-width
}

.desktop-header .navbar {
    display: none
}

@media (max-width: 767px),print {
    .desktop-header,.hidden-xs {
        display:none!important
    }

    .mobile-menu.hidden-xs {
        display: block!important
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .desktop-header,.hidden-sm {
        display:none!important
    }

    .mobile-menu.hidden-sm {
        display: block!important
    }
}

body {
    overflow-x: hidden
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: none;
    border-radius: 0;
    background-color: #ebebea;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

header .search-btn-toggle {
    background: 0 0;
    border: 0;
    cursor: pointer
}

header #mobile-search-container .menu-container {
    padding-bottom: 15px
}

header #mobile-search-container .search-btn {
    height: 44px;
    position: absolute;
    top: 0;
    right: 15px;
    margin-left: 8px;
    padding: 7.5px 15px;
    color: #A7A8A9;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none
}

.container.allow-full-width {
    width: auto;
    padding-left: 0;
    padding-right: 0
}

.container.allow-full-width>div:not(.modal) {
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container.allow-full-width>div:not(.modal) {
        width:726px
    }
}

@media (min-width: 992px) {
    .container.allow-full-width>div:not(.modal) {
        width:1170px
    }
}

@media (min-width: 1300px) {

    .container.allow-full-width>div:not(.modal) {
        width: 1170px
    }
}

@media (max-width: 768px) {
    html {
        position:absolute
    }

    body,html {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden
    }
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 0
}

body:not(.no) #header {
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    -webkit-transition: .5s all;
    transition: .5s all
}

body {
    font-size: 16px
}

body *,body :after,body :before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body .checkmark:after {
    width: 12px!important;
    height: 16px!important
}

.dealerPanelContainer {
    width: 80%;
    font-family: VolvoNovumRegular,sans-serif,sans-serif
}
