.get-an-offer-sidebar .details {
    display: none;
}

.get-an-offer-sidebar.show-details .details {
    display: block;
}

.get-an-offer-sidebar.show-details .form {
    display: none;
}

aside .get-an-offer-sidebar a.button.primary {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    padding: 12px 32px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background: var(--c-cta-blue-default);
    color: var(--c-white);
    border: none;
    margin-bottom: 30px;
    width: auto;
}

aside .get-an-offer-sidebar a.button.primary::after {
    content: unset;
}