.v2-section-header {
  margin: 0 auto;
  max-width: var(--text-block-max-width, calc(100vw - 16px));
  font-size: var(--heading-s-font-size);
  line-height: var(--heading-s-line-height);
  letter-spacing: var(--heading-s-letter-spacing);
  text-align: center;
  text-wrap: balance;
}

.v2-section-header > *:first-child {
  margin-top: 0;
}

.v2-section-header > *:last-child {
  margin-bottom: 0;
}

.v2-section-header__title {
  font-size: var(--f-heading-4-font-size);
  letter-spacing: var(--f-heading-4-letter-spacing);
  line-height: var(--f-heading-4-line-height);
}

@media (min-width: 1200px) {
  .v2-section-header__title {
    font-size: var(--f-heading-3-font-size);
    letter-spacing: var(--f-heading-3-letter-spacing);
    line-height: var(--f-heading-3-line-height);
  }

  .v2-section-header p {
    font-size: var(--f-body-2-font-size);
    letter-spacing: var(--f-body-2-letter-spacing);
    line-height: var(--f-body-2-line-height);
  }  
}
