:root {
  --tabbed-carousel-img-width: 60%;
}

@keyframes truck-entry {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

/* Full width block */
main .section.v2-tabbed-carousel-container .v2-tabbed-carousel-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* End Full width block */

.v2-tabbed-carousel {
  display: flex;
  flex-direction: column;
}

.v2-tabbed-carousel__images-container,
.v2-tabbed-carousel__description-container {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0;
  margin: 0;
}

.v2-tabbed-carousel__description-container {
  order: 2;
  overflow: hidden;
}

.v2-tabbed-carousel__images-container {
  align-items: flex-end;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.v2-tabbed-carousel__images-container::-webkit-scrollbar {
  display: none;
}

.v2-tabbed-carousel__image-item {
  flex: none;
  scroll-snap-align: center;
  text-align: center;
  width: var(--tabbed-carousel-img-width);
}

.v2-tabbed-carousel__image-item picture {
  display: block;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: truck-entry;
  animation-timing-function: ease-in;
}

.v2-tabbed-carousel__image-item:first-child {
  margin-left: calc(100% - var(--tabbed-carousel-img-width)/2);
}

.v2-tabbed-carousel__images-container::after {
  content: '';
  display: block;
  flex: 0 0 calc(100% - var(--tabbed-carousel-img-width)/2);
}

.v2-tabbed-carousel__image-item img {
  width: 100%;
  object-fit: contain;
  max-height: 570px;
}

.v2-tabbed-carousel__content {
  width: 90%;
  margin: 0 auto 32px;
  text-align: center;
}

.v2-tabbed-carousel__desc-item {
  color: var(--text-color);
  flex: none;
  opacity: 0;
  width: 100%;
  transition: opacity var(--duration-small) var(--easing-exit),
    transform 1s var(--easing-entrance);
  transform: translateX(-50px);
}

.v2-tabbed-carousel__desc-item.active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity var(--duration-large) var(--easing-entrance),
    transform 1s var(--easing-entrance);
}

.v2-tabbed-carousel__text {
  text-wrap: balance;
  max-width: 400px;
  margin: 0 auto;
}

.v2-tabbed-carousel__title {
  margin-right: 5px;
}

.v2-tabbed-carousel__title,
p.v2-tabbed-carousel__description {
  display: inline;
  color: var(--c-grey-800);
  font-size: var(--f-heading-5-font-size);
  line-height: var(--f-heading-5-line-height);
}

.v2-tabbed-carousel__buttons-container {
  margin-top: 32px;
}

.v2-tabbed-carousel__buttons-container .button-container {
  margin: 10px 0;
}

/* Navigation */
ul.v2-tabbed-carousel__navigation {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  list-style: none;
  margin: 32px 0;
  padding: 2px 32px;
  order: 1;
  position: relative;
}

.v2-tabbed-carousel__navigation-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--c-main-black);
  transition: all 0.3s;
  margin: 0;
}

.v2-tabbed-carousel__navigation::before,
.v2-tabbed-carousel__navigation::after {
  content: '';
  margin: auto;
}

.v2-tabbed-carousel__navigation-item {
  margin: 0 16px;
}

.v2-tabbed-carousel__navigation-item button {
  background: 0 0;
  border: none;
  color: var(--c-grey-4);
  font-size: var(--f-button-font-size);
  letter-spacing: var(--f-button-letter-spacing);
  line-height: 100%;
  margin: 0;
  padding: 12px 0;
  text-transform: uppercase;
}

.v2-tabbed-carousel__navigation-item.active button {
  color: var(--c-main-black);
}

/* Arrow controls */
.v2-tabbed-carousel__slider-wrapper {
  position: relative;
}

.v2-tabbed-carousel__arrow-controls {
  display: none;
  margin: 0;
  opacity: 0;
  transition: opacity var(--duration-small) var(--easing-standard);
}

.v2-tabbed-carousel__slider-wrapper:hover .v2-tabbed-carousel__arrow-controls {
  opacity: 1;
}

.v2-tabbed-carousel__arrow-controls li {
  align-items: center;
  display: flex;
  height: 100%;
  left: 10%;
  position: absolute;
  top: 0;
}

.v2-tabbed-carousel__arrow-controls li:last-child {
  left: auto;
  right: 10%;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-tabbed-carousel__arrow-controls button {
  background-color: var(--c-white);
  border-radius: 50%;
  border: 1px solid var(--c-grey-400);
  color: var(--c-main-black);
  font-size: 0;
  margin: 0;
  padding: 10px;
  position: relative;
  line-height: 0;
}

.v2-tabbed-carousel__arrow-controls button:hover,
.v2-tabbed-carousel__arrow-controls button:active {
  border-color: var(--c-white);
}

.v2-tabbed-carousel__arrow-controls button:hover {
  background-color: var(--c-grey-50);
}

.v2-tabbed-carousel__arrow-controls button:active {
  background-color: var(--c-grey-100);
}

.v2-tabbed-carousel__arrow-controls button:focus {
  outline: 2px solid var(--light-border-focus);
}

@media screen and (min-width: 744px) {
  .v2-tabbed-carousel__arrow-controls {
    display: block;
  }

  .v2-tabbed-carousel__buttons-container {
    display: flex;
    justify-content: center;
  }

  .v2-tabbed-carousel__buttons-container .button-container {
    margin-left: 16px;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --tabbed-carousel-img-width: 60%;
  }

  .v2-tabbed-carousel__image-item img {
    max-height: none;
  }

  .v2-tabbed-carousel__content {
    max-width: 1000px;
  }

  .v2-tabbed-carousel__content .default-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .v2-tabbed-carousel__text {
    flex-basis: 60%;
    text-align: left;
    margin: 0;
  }

  .v2-tabbed-carousel__buttons-container {
    flex-direction: row;
    margin-top: 0;
  }
}
