@keyframes slide-from-start {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-from-end {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.snackbar-container {
  position: fixed;
  inset: 0;
  padding: 64px 16px 16px;
  display: flex;
  flex-flow: column wrap;
  place-content: var(--snackbar-position, center flex-end);
  gap: 16px;
  z-index: 1000;
  pointer-events: none;
  overflow: hidden;
}

.snackbar {
  --color-icon: var(--c-white);

  width: 100%;
  max-width: 400px;
  background-color: var(--c-black);
  color: var(--c-white);
  padding: 12px 16px;
  gap: 10px;
  transition: transform var(--duration-small) var(--easing-entrance);
  animation:
    fade-in var(--duration-medium) var(--duration-small) var(--easing-entrance) forwards,
    var(--snackbar-animation) var(--duration-large) var(--easing-entrance);
  border-radius: 4px;
  box-shadow: rgba(0 0 0 / 20%) 0 0.2px 2px, rgba(0 0 0 / 20%) 0 2px 4px;
  display: flex;
  opacity: 0;
  pointer-events: auto;
  will-change: transform;
  line-height: 20px;
}

.snackbar--hide {
  animation: fade-out var(--duration-medium) 0s var(--easing-entrance) forwards;
}

.snackbar--error {
  background-color: var(--c-error-red);
}

.snackbar--success {
  background-color: var(--c-success-green);
}

.snackbar p {
  margin: 0;
  align-self: center;
}

.snackbar .icon svg {
  width: 24px;
  height: 24px;
  display: block;
}

.snackbar .button-container {
  margin: -4px -8px -4px auto;
}

.snackbar__close-button {
  padding: 0;
  margin: -10px -16px -10px auto;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.snackbar__close-button:focus {
  outline: 0;
}

.snackbar__close-button:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: -4px;
}

.snackbar__close-button .icon svg {
  width: 24px;
  height: 24px;
}

.snackbar--buttons-below {
  flex-wrap: wrap;
}

.snackbar--buttons-below .icon + p {
  width: calc(100% - 34px);
}

.snackbar--buttons-below .button-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 8px;
}

@media (prefers-reduced-motion) {
  .snackbar,
  .snackbar--hide {
    animation: none;
  }

  .snackbar {
    opacity: 1;
  }
}
