.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1051;
  transition: opacity 0.15s linear, visibility 0.15s linear;
  opacity: 1;
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-content.modal-content-fade-in {
  transform: translateY(0);
}

.modal-content {
  margin-top: 100px;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  transform: translateY(-100vh);
  transition: transform 0.3s ease-out;
  background-color: #e1dfdd;
}

.modal-content .modal-video {
  width: 100%;
  height: 100%;
  position: absolute;
}

.modal-before-banner {
  font-size: 16px;
  background: var(--background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-before-banner button {
  border: none;
  background: transparent;
  color: #0d3c87;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff-volvo-novum);
}

.modal-before-banner button.modal-close-button {
  padding-left: 20px;
  color: var( --volvo-text-light-gray);
  text-decoration: none;
  font-size: 18px;
}

@media (min-width: 768px) {
  .modal-content {
    margin: 100px auto;
    width: 726px;
  }
}

@media (min-width: 992px) {
  .modal-content {
    width: 930px;
  }
}

@media (min-width: 1300px) {
  .modal-content {
    width: 1170px;
  }
}


/* adjustments for soundcloud variant of modal, e.g. https://www.volvotrucks.us/trucks/powertrain/i-torque/ */
.modal-content .modal-soundcloud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  gap: 2%;
}

.modal-content:has(.modal-soundcloud)  {
  aspect-ratio: unset;
}

.modal-content .modal-before-iframe:has(.modal-soundcloud) + iframe {
  height: 200px;
}

.modal-soundcloud .episode-image {
  flex: 20%;
}
.modal-soundcloud .episode-text {
  flex: 80%;
}

.modal-soundcloud .episode-image img {
  width: 100%;
  height: unset;
}
