.footer-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 48px auto 0;
}

.block.footer p, .block.footer ul {
  font-family: var(--ff-volvo-novum);
  font-size: 14px;
  margin: 0;
}

.block.footer .footer-links {
  margin: 0 -15px;
  background-color: #000;
}

.block.footer .footer-links ul {
  text-align: center;
}

.block.footer .footer-links ul li {
  margin: 8px 0;
  padding: 0 12px;
  display: inline-block;
  list-style: none;
  border-right: 1px solid #fff;
}

.block.footer .footer-links ul li:last-child {
  border-right: none;
}

.block.footer .footer-links ul li a {
  text-decoration: none;
  color: #fff;
}

.block.footer .footer-copyright {
  margin: 0 -15px;
  padding: 32px 0;
  text-align: center;
}

.block.footer .footer-copyright p {
  margin: 0;
  color: #A7A8A9;
}

.block.footer .scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  background-color: var(--volvo-text-gray);
  color: var(--background-color);
  cursor: pointer;
  border-radius: 10px;
  padding: 8px 24px;
}
