aside.sidebar {
    overflow: hidden scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    right: -100vw;
    transition: right .2s cubic-bezier(.4,0,.2,1) .1s;
    background-color: white;
    z-index: 1090;
}

aside.sidebar[aria-expanded=true] {
    right: 0;
}

aside.sidebar > div {
    width: 100%;
    padding: 53px 15px 15px;
}

aside.sidebar button.close {
    background: none;
    border: none;
    position: absolute;
    right: 15px;
    top: 20px;
    height: 33px;
    display: flex;
    align-items: center;
}

@media (min-width: 768px) {
    aside.sidebar {
        width: 50vw;
        right: -50vw;
    }
}

@media (min-width: 992px) {
    aside.sidebar > div {
        padding: 53px 16% 16%;
    }
}