:root {
  --btn-hover: #303033;
  --c-white-80: rgb(255 255 255 / 80%);
  --text-color-80: rgb(83 86 90 / 80%);
}

.block.teaser-cards.center {
  text-align: center;
}

/* mobile */

/* first row div */
.block.teaser-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block.teaser-cards > div {
  display: flex;
  gap: 30px;
  flex-flow: column;
}

/* each teaser div in the row */
.block.teaser-cards .teaser {
  box-sizing: border-box;
  flex: 0 1 auto;
}

/* teaser image */
.block.teaser-cards p.image {
  display: block;
  margin: 0 0 1em;
}

.block.teaser-cards img {
  max-width: 100%;
  object-fit: cover;
}


/* teaser title */
.block.teaser-cards :is(h2, h3, h4) {
  margin: 0 0 10px;
  letter-spacing: -.1px;
  line-height: 1.3333em;
}

.block.teaser-cards h2 {
  letter-spacing: 3.6px;
  font-family: var(--ff-volvo-broadprodigital);
  font-size: var(--heading-font-size-l);
  line-height: 1em;
}

/* teaser text */
.block.teaser-cards p.text {
  font-size: var(--body-font-size-xs);
  margin: 0 0 8px;
  letter-spacing: -.1px;
}

/* cta's (maybe remove button container completely) */
.block.teaser-cards .button-container {
  margin: 0;
}

/* single teaser */
.teaser-cards-wrapper.teaser-cards-1 {
  padding: 0;
}

.teaser-cards-1 .block.teaser-cards .teaser {
  width: 100%;
  padding: 0 0 24px;
  background-color: var(--background-light-gray);
  text-align: center;
}

.teaser-cards-1 .block.teaser-cards :is(h2, h3) {
  margin: 30px 0 16px;
  font-size: 48px;
}

.teaser-cards-1 .block.teaser-cards p.text {
  display: none;
}

.block.teaser-cards a {
  background-color: transparent;
}

.block.teaser-cards a:hover {
  border-color: var(--btn-hover);
  color: var(--btn-hover);
}

.block.teaser-cards .teaser.with-cta-list :is(h2, h3, h4) a::after {
  display: none;
}

.block.teaser-cards .teaser.with-cta-list .cta-list {
  margin-top: 20px;
}

/* center */
.block.teaser-cards.center .teaser {
  text-align: center;
}

/* link list on mobile */
.block.teaser-cards.link-list-on-mobile > div {
  flex-flow: column;
}

.block.teaser-cards.link-list-on-mobile p.image {
  display: none;
}

.block.teaser-cards .link-with-video p.image {
  display: block;
}

@media (min-width: 768px) {
  /* first row div */
  .block.teaser-cards > div,
  .block.teaser-cards.link-list-on-mobile > div {
    flex-flow: row;
  }

  /* each teaser div in the row */
  .block.teaser-cards .teaser {
    width: 50%;
  }

  .block.teaser-cards :is(h2, h3) {
    margin: 24px 0 10px;
  }

  /* image */
  .block.teaser-cards.link-list-on-mobile p.image {
    display: block;
  }

  /* single teaser */
  .teaser-cards-1 .block.teaser-cards .teaser {
    padding: 8px 0;
    min-height: 250px;
    position: relative;
    background: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teaser-cards-1 .block.teaser-cards.dark .teaser {
    color: var(--text-color);
  }

  .teaser-cards-1 .block.teaser-cards :is(h2, h3, p.text) {
    display: block;
    max-width: 426px;
  }

  .teaser-cards-1 .block.teaser-cards :is(h2, h3) {
    margin-block-start: 0;
  }

  .teaser-cards-1 .block.teaser-cards p.image {
    margin: 0;
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .teaser-cards-1 .block.teaser-cards p.image::after {
    display: block;
    position: absolute;
    inset: 0;
    background-color: black;
    content: "";
    opacity: .15;
  }

  .teaser-cards-1 .block.teaser-cards p.image img {
    height: 100%;
    width: 100%;
  }

  .teaser-cards-1 .block.teaser-cards a {
    background-color: var(--c-white);
    border-color: var(--c-white);
  }

  .teaser-cards-1 .block.teaser-cards a:hover {
    background-color: var(--c-white-80);
    border-color: var(--c-white);
  }

  .teaser-cards-1 .block.teaser-cards.dark a {
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--c-white);
  }

  .teaser-cards-1 .block.teaser-cards.dark a:hover {
    background-color: var(--text-color-80);
    color: var(--btn-background-hover);
  }
}

@media (min-width: 992px) {
  .block.teaser-cards :is(h2, h3) {
    margin-bottom: 16px;
  }

  /* single teaser */
  .teaser-cards-1 .block.teaser-cards .teaser {
    min-height: 402px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .teaser-cards-1 .block.teaser-cards p.text {
    display: block;
    max-width: 870px;
  }
}
