/* boilderplate: the section containing the block */
.section.teaser-cards-container {
  padding: 0;
}

/* boilerplate: the wrapper around the block element */
.section.cards-hero-container .cards-hero-wrapper {
  margin: 0;
  padding: 0;
}

/* boilerplate: the block element itself that gets passed into js decorate() */
.block.teaser-cards {
  margin: 48px 0 0;
  padding: 0;
}

/* mobile */

/* first row div */
.block.teaser-cards>div {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

/* each teaser div in the row */
.block.teaser-cards .teaser {
  box-sizing: border-box;
  flex: 0 1 auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px 15px;
}

/* teaser image */
.block.teaser-cards p.image {
  display: block;
  margin: 0 0 1em;
}

.block.teaser-cards img {
  width: 100%;
  object-fit: cover;
}

/* teaser title */
.block.teaser-cards h2,
.block.teaser-cards h3 {
  margin: 0;
  font-size: var(--heading-font-size-m)
}

.block.teaser-cards  h2 {
  letter-spacing: 3.6px;
  font-family: var(--ff-volov-broadprodigital);
  font-size: var(--heading-font-size-xxxl);
  line-height: 1em;
}

/* teaser title link */
.block.teaser-cards h3 a {
  color: var(--text-color);
}

.block.teaser-cards h3 a::after {
  color: var(--link-color);
  content: "\f105";
  padding-left: 8px;
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: fontawesome;
}

/* teaser text */
.block.teaser-cards p.text {
  font-size: var(--body-font-size-xs);
  margin: 0 0 8px;
}

/* cta's (maybe remove button container completely) */
.block.teaser-cards .button-container {
  margin: 0;
}

.block.teaser-cards a.cta {
  color: var(--link-color);
  font-weight: 700;
  background-color: transparent;
  border: none;
  border-radius: unset;
  padding: 0;
  margin: 0;
  font-family: var(--ff-volvo-novum-regular);
  font-size: var(--body-font-size-xs);
}

.block.teaser-cards a.cta:hover {
  color: var(--link-hover-color);
}

.block.teaser-cards .cta::after {
  content: '\f105';
  /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
  font-family: fontawesome;
  padding-left: 8px;

}

/* single teaser */
.block.teaser-cards.teaser-cards-1 .teaser {
  width: 100%;
  padding: 0 0 24px;
  background-color: var(--background-light-gray);
  text-align: center;
}

.block.teaser-cards.teaser-cards-1 p.text {
  display: none;
}

/* link list on mobile */
.block.teaser-cards.link-list-on-mobile>div {
  flex-flow: column;
}

.block.teaser-cards.link-list-on-mobile p.image {
  display: none;
}


@media (min-width: 768px) {
  .block.teaser-cards {
    margin-left: auto;
    margin-right: auto;
  }

  /* first row div */
  .block.teaser-cards>div,
  .block.teaser-cards.link-list-on-mobile>div {
    flex-flow: row;
  }

  /* each teaser div in the row */
  .block.teaser-cards .teaser {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }

  /* image */
  .block.teaser-cards.link-list-on-mobile p.image {
    display: block;
  }

  /* single teaser */
  .block.teaser-cards.teaser-cards-1 .teaser {
    padding: 8px 0;
    min-height: 250px;
    position: relative;
    background: none;
    color: white;
  }
  
  .block.teaser-cards.teaser-cards-1 h2,
  .block.teaser-cards.teaser-cards-1 h3,
  .block.teaser-cards.teaser-cards-1 p.text {
    display: block;
    max-width: 426px;
    margin: 0 auto;
  }

  .block.teaser-cards.teaser-cards-1 h2,
  .block.teaser-cards.teaser-cards-1 h3 {
    margin-bottom: 16px;
  }

  .block.teaser-cards.teaser-cards-1 p.image {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .block.teaser-cards.teaser-cards-1 p.image img {
    height: 100%;
  }
}

@media (min-width: 992px) {
  .block.teaser-cards {
    margin-left: auto;
    margin-right: auto;
  }

  .block.teaser-cards .teaser {
    padding-left: 15px;
    padding-right: 15px;
  }

  .block.teaser-cards h2,
  .block.teaser-cards h3 {
    margin-bottom: 16px;
  }

  .block.teaser-cards h3 {
    font-size: var(--heading-font-size-s)
  }

  /* single teaser */
  .block.teaser-cards.teaser-cards-1 .teaser {
    min-height: 402px;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .block.teaser-cards.teaser-cards-1 p.text {
    display: block;
    max-width: 870px;
  }
}