/* stylelint-disable comment-empty-line-before */
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/*
   Fonts
   When using fonts, please see "best practices for fonts" in Readme
*/
@font-face {
  font-family: 'VolvoNovum Fallback';
  src: local("arial");
  size-adjust: 102%;
  ascent-override: 95%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'VolvoNovum-Medium Fallback';
  src: local('arial');
  size-adjust: 103%;
  ascent-override: 92%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'VolvoBroadProDigital Fallback';
  src: local('Arial');
  font-style: normal;
  font-weight: 400;
  ascent-override: 120.58%;
  descent-override: 23.83%;
  line-gap-override: 0.00%;
  size-adjust: 69.25%;
}

@font-face {
  font-family: 'fontawesome Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 93.75%;
  descent-override: 6.25%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}

 :root {
  /* colors */
  --c-white: #fff;
  --link-color: #004FBC;
  --link-hover-color: #0b326f;
  --background-color: var(--c-white);
  --background-hover-color: #E1DFDD;
  --background-light-gray: #ebebeb;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --volvo-text-gray: #53565A;
  --volvo-text-black: #000;
  --volvo-text-light-gray: #A7A8A9;
  --text-color: var(--volvo-text-gray);
  --btn-background-hover: #e1dfdd;
  --btn-border-hover: #030333;
  --input-background-color: #f1f0ef;

  /* fonts */
  --ff-volvo-novum-medium: 'VolvoNovum-Medium', 'VolvoNovum-Medium Fallback', sans-serif;
  --ff-volvo-novum: 'VolvoNovum', 'VolvoNovum Fallback', sans-serif;
  --ff-volvo-broadprodigital: 'VolvoBroadProDigital', 'VolvoBroadProDigital Fallback', sans-serif;
  --ff-fontawesome: 'fontawesome', 'fontawesome Fallback';
  --body-font-family: var(--ff-volvo-novum);
  --heading-font-family: var(--ff-volvo-novum-medium);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* buttons */
  --btn-padding: 12px 32px;

  /* body sizes */
  --body-font-size-l: 2.4rem;
  --body-font-size-m: 2.2rem;
  --body-font-size-s: 1.8rem;
  --body-font-size-xs: 1.6rem;
  --body-font-size-xxs: 1.3rem;

  /* heading sizes */
  /* the scale allows us to adjust all heading sizes but preserve the ratio */
  --heading-font-size-scale: 0.5;
  --heading-font-size-xxl: calc(7.2rem * var(--heading-font-size-scale));
  --heading-font-size-xl: calc(5.6rem * var(--heading-font-size-scale));
  --heading-font-size-l: calc(4.8rem * var(--heading-font-size-scale));
  --heading-font-size-ml: calc(3.2rem * var(--heading-font-size-scale));
  --heading-font-size-m: calc(2.4rem * var(--heading-font-size-scale));
  --heading-font-size-s: calc(2.0rem * var(--heading-font-size-scale));
  --heading-font-size-xs: calc(1.8rem * var(--heading-font-size-scale));

  /*
    NEW heading sizes (for redesign)
    names in brackends refers to names on the desing
   */
  /* XXL (Section header/Heading 1) */
  --heading-xxl-font-size: 7.2rem;
  --heading-xxl-line-height: 1;
  --heading-xxl-letter-spacing: -1.15px;

  /* XL (Section header/Heading 2) */
  --heading-xl-font-size: 5.6rem;
  --heading-xl-line-height: 1.1;
  --heading-xl-letter-spacing: -0.5px;

  /* L (Section header/Heading 3) */
  --heading-l-font-size: 4.8rem;
  --heading-l-line-height: 1.1;
  --heading-l-letter-spacing: 0;

  /* ML (Section header/Heading 4) */
  --heading-ml-font-size: 3.2rem;
  --heading-ml-line-height: 1.25;
  --heading-ml-letter-spacing: 0.25px;

  /* M (Section header/Heading 5) */
  --heading-m-font-size: 2.4rem;
  --heading-m-line-height: 1.25;
  --heading-m-letter-spacing: normal;

  /* S (Section header/Heading 6) */
  --heading-s-font-size: 2rem;
  --heading-s-line-height: 1.25;
  --heading-s-letter-spacing: 0.15px;

  /* Body regular */
  --body-regular-font-size: 1.6rem;
  --body-regular-line-height: 1.3;
  --body-regular-letter-spacing: 0.5px;

  /* nav height */
  --nav-height: 95px;
  --sub-nav-height: 44px;

  /* sectio style */
  --wrapper-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.appear {
  display: unset;
}

header {
  position: relative;
  min-height: var(--nav-height);
}

header .header.block {
  background-color: white;
  min-height: var(--nav-height);
  position: relative;
  z-index: 1050;
}

header.sub-nav-wrapper {
  min-height: calc(var(--nav-height) + var(--sub-nav-height));
}

header .sub-nav.block {
  height: var(--sub-nav-height);
  background-color: #7F7F7F;
  z-index: 1020;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/* specific page styles */
main.center { text-align: center; }
main.center :where(.block) { text-align: initial; }

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1;
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-style: normal;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  letter-spacing: -1.15px;
  margin-bottom: 24px;
}

h2 {
  font-size: var(--heading-font-size-xl);
  line-height: 1.1;
  letter-spacing: -0.5px;
  margin-bottom: 16px;
}

h3 {
  font-size: var(--heading-font-size-l);
  line-height: 1.1;
  letter-spacing: 0;
  margin-bottom: 10px;
}

h4 {
  font-size: var(--heading-font-size-ml);
  line-height: 1.25;
  letter-spacing: 0.25px;
  margin-bottom: 8px;
}

h5 {
  font-size: var(--heading-font-size-s);
  line-height: 1.25;
  font-family: var(--ff-volvo-novum);
}

h6 {
  font-size: var(--heading-font-size-xs);
  line-height: 1.25;
  font-family: var(--ff-volvo-novum);
}

:is(h1, h2, h3, h4, h5, h6) > em {
  color: var(--volvo-text-light-gray);
  font-style: normal;
}

.block h4,
.block h4 > em {
  color: inherit;
  text-transform: uppercase;
  font-style: initial;
}

h1#press-releases,
h1#social-feeds,
h1#volvo-trucks-magazine {
  font-family: var(--ff-volvo-broadprodigital);
  font-size: 60px;
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: var(--body-font-size-xs);
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--link-hover-color);
}

:is(h1, h2, h3, h4, h5, h6) a:any-link {
  color: currentcolor;
}

:is(h1, h2, h3, h4, h5, h6) a:any-link:hover {
  text-decoration: none;
}

:is(h1, h2, h3, h4, h5, h6) a:any-link::after {
  color: var(--link-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

strong {
  font-family: var(--ff-volvo-novum);
}

/* buttons */

a.button:any-link, button {
  font-family: var(--ff-volvo-novum-medium);
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

:is(h1, h2, h3, h4, h5, h6) a:any-link::after,
a.button::after {
  content: ' \f105';
  font-family: var(--ff-fontawesome);
}

a.button.primary,
button.primary {
  max-width: 100%;
  display: inline-block;
  padding: var(--btn-padding);
  color: var(--text-color);
  background-color: var(--c-white);
  border: 2px solid var(--text-color);
}

a.button.primary.dark {
  background-color: var(--text-color);
  color: var(--c-white);
}

a.button.primary.dark:hover {
  background-color: var(--text-color);
  border-color: var(--text-color);
  color: var(--c-white);
}

button, input, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.primary:hover, button.primary:hover {
  background-color: var(--btn-background-hover);
  border-color: var(--btn-border-hover);
  color: var(--text-color);
}

input[type=text],select,textarea {
  display: block;
  padding: 10px 40px 10px 15px;
  border: none;
  border-radius: 0;
  background-color: var(--background-light-gray);
  appearance: none;
}

/* commont elements */

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  height: auto;
  vertical-align: middle
}

main p img {
  display: block;
  margin: auto;
}

/* sections */

main .section {
  padding: 40px 0;
}

main .section > div {
  width: var(--wrapper-width);
  padding: 0 16px;
  margin: auto;
}

main .section-with-background {
  --text-color: white;

  box-sizing: border-box;
  position: relative;
  min-height: 405px;
  color: var(--text-color);
  text-align: center;
  margin-top: 48px;
  margin-bottom: 48px;
  padding: 48px 0;
}

main .section-with-background>div:first-of-type,
main .section-with-background>div:first-of-type>:first-child {
  margin-top: 0;
}

main .section-with-background>div:last-of-type,
main .section-with-background>div:last-of-type>:last-child {
  margin-bottom: 0;
}

main .section-with-background>picture:last-of-type img {
  width: var(--wrapper-width);
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  object-fit: cover;
}

main .section:first-child > :first-child {
  margin-top: 0;
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

body.disable-scroll, body.disable-scroll main {
  overflow: hidden;
}

ul.cta-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.cta-list li {
  padding: 0 50px;
}

.pager .pagination ol li:not(:first-child) {
  float: right;
  padding: 10px;
  margin-top: -10px;
}

main .section.tabbed-container-full-width > div {
  padding: 0;
  width: unset;
}

main .section.tabbed-container-full-width {
  --horizontal-padding: calc((100% - var(--wrapper-width)) / 2);
}

main .section.tabbed-container ul.tab-navigation {
  padding: 0;
  margin: 25px;
  text-align: center;
}

main .section.tabbed-container ul.tab-navigation li {
  margin: 0 auto;
  padding: 0 1% 8px;
  display: block;
  width: 35%;
}

main .section.tabbed-container ul.tab-navigation button {
  background: 0 0;
  border: none;
  color: var(--volvo-text-gray);
  padding: 0;
  margin: 0;
}

.section.tabbed-container ul.tab-navigation li.active,
.section.tabbed-container ul.tab-navigation li:hover {
  border-bottom: 3px solid var(--link-color);
}

/* image as video link */
.link-with-video {
  position: relative;
  display: block;
}

.video-icon-wrapper {
  background: rgb(255 255 255 / 90%);
  color: var(--volvo-text-gray);
  width: 50px;
  height: 50px;
  font-size: 25px;
  border: 0;
  border-radius: 40px;
  transition: .3s;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  margin-right: 7.5px;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 30%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-icon-wrapper:hover {
  background: rgb(230 230 230 / 90%);
  color: var(--volvo-text-gray);
  font-size: 30px;
  opacity: .8;
}

.video-icon-wrapper .video-icon::before {
  padding-left: 5px;
}

a.button.text-link-with-video {
  display: inline-flex;
  align-items: center;
  color: var(--volvo-text-gray);
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 5px;
}

a.button.text-link-with-video:hover {
  color: #030304;
  background: transparent;
}

a.button.text-link-with-video i {
  font-size: 48px;
}

a.button.text-link-with-video::after {
  content: unset;
}

/* video low resolution banner */
.low-resolution-banner {
  font-size: 16px;
  background: var(--background-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.low-resolution-banner-cookie-settings {
  border: none;
  background: transparent;
  color: #0d3c87;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--ff-volvo-novum);
}

.low-resolution-banner button.modal-close-button {
  padding-left: 20px;
  color: var( --volvo-text-light-gray);
  text-decoration: none;
  font-size: 18px;
}

/* pagination */
.pager .pagination ol li .last::before {
  font-family: var(--ff-fontawesome);
  content: "\f051";
  font-size: 12px;
  text-decoration: none;
}

.pager .pagination ol li .first::before {
  font-family: var(--ff-fontawesome);
  content: "\f048";
  font-size: 12px;
  text-decoration: none;
}

.pager .pagination ol li .next::before {
  font-family: var(--ff-fontawesome);
  content: "\f054";
  font-size: 12px;
  text-decoration: none;
}

.pager .pagination ol li .prev::before {
  font-family: var(--ff-fontawesome);
  content: "\f053";
  font-size: 12px;
  text-decoration: none;
}

div.block div.pager {
  font-size: 1.4rem;
  display: grid;
  margin-bottom: 1em;
  grid-template-columns: repeat(2, 1fr);
}

div.block div.pager .pagination {
  justify-self: end;
}

div.block div.pager .pagination .scroll {
  padding: 0;
  margin: 0 0 0 15px;
  display: inline-flex;
  gap: 5px;
  list-style: none;
}

div.block div.pager .pagination .scroll li a {
  color: var(--volvo-text-gray);
  font-family: var(--ff-volvo-novum-medium);
}

@media screen and (min-width: 480px) {
  main .section.tabbed-container ul.tab-navigation li {
    margin: 0 3%;
    display: inline-block;
    width: unset;
  }
}

@media (min-width: 768px) {
  ul.cta-list {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-flow: row wrap;
  }
}

@media (max-width: 991px) {
  header .header.block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  header .sub-nav.block {
    position: fixed;
    top: var(--nav-height);
    bottom: unset;
  }
}

@media (min-width: 992px) {
  :root {
    --nav-height: 176px;
    --sub-nav-height: 48px;
  }

  main .section:first-child > :first-child {
    margin-top: 30px;
  }

  header .sub-nav.block {
    background-color: #53565A;
  }
}

@media screen and (min-width: 768px) {
  main .section {
    padding: 80px 0;
  }

  main .section > div {
   padding: 0 32px;
   margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  main .section > div {
    padding: 0 135px;
  }
}

@media (min-width: 1440px) {
  :root {
    --wrapper-width: 1440px;
  }
}

/* Sections variant styling */
main .section.section-with-title h1,
main .section.section-with-title h2 {
  font-size: var(--heading-ml-font-size);
  line-height: var(--heading-ml-line-height);
  letter-spacing: var(--heading-ml-letter-spacing);
  margin: 0 0 16px;
}

main .section.section-with-title p {
  font-size: var(--body-regular-font-size);
  line-height: var(--body-regular-line-height);
  letter-spacing: var(--body-regular-letter-spacing);
  margin: 0 0 16px;
}

@media screen and (min-width: 768px) {
  main .section.section-with-title h1,
  main .section.section-with-title h2 {
    font-size: var(--heading-l-font-size);
    line-height: var(--heading-l-line-height);
    letter-spacing: var(--heading-l-letter-spacing);
  }

  main .section.section-with-title p {
    font-size: var(--heading-m-font-size);
    line-height: var(--heading-m-line-height);
    letter-spacing: var(--heading-m-letter-spacing);
  }

  main .section.section-with-title > p:last-of-type {
    margin: 0 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  main .section.section-with-title h1,
  main .section.section-with-title h2 {
    font-size: var(--heading-xxl-font-size);
    line-height: var(--heading-xxl-line-height);
    letter-spacing: var(--heading-xxl-letter-spacing);
  }

  main .section.section-with-title > p:last-of-type {
    margin: 0 0 80px;
  }
}
