/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/*
   Fonts
   When using fonts, please see "best practices for fonts" in Readme
*/
@font-face {
  font-family: 'VolvoNovum Fallback';
  src: local("arial");
  size-adjust: 102%;
  ascent-override: 95%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'VolvoNovum-Medium Fallback';
  src: local('arial');
  size-adjust: 103%;
  ascent-override: 92%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'VolvoBroadProDigital Fallback';
  src: local('Arial');
  font-style: normal;
  font-weight: 400;
  ascent-override: 120.58%;
  descent-override: 23.83%;
  line-gap-override: 0.00%;
  size-adjust: 69.25%;
}

@font-face {
  font-family: 'fontawesome Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 93.75%;
  descent-override: 6.25%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}

 :root {
  /* colors */
  --link-color: #004FBC;
  --link-hover-color: #0b326f;
  --background-color: #fff;
  --background-light-gray: #ebebeb;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --volvo-text-gray: #53565A;
  --volvo-text-light-gray: #A7A8A9;
  --text-color: var(--volvo-text-gray);

  /* fonts */
  --ff-volvo-novum-medium: 'VolvoNovum-Medium', 'VolvoNovum-Medium Fallback', sans-serif;
  --ff-volvo-novum: 'VolvoNovum', 'VolvoNovum Fallback', sans-serif;
  --ff-volov-broadprodigital: 'VolvoBroadProDigital', 'VolvoBroadProDigital Fallback', sans-serif;
  --ff-fontawesome: 'fontawesome', 'fontawesome Fallback';
  --body-font-family: var(--ff-volvo-novum);
  --heading-font-family: var(--ff-volvo-novum-medium);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 2.2rem;
  --body-font-size-s: 1.8rem;
  --body-font-size-xs: 1.6rem;
  --body-font-size-xxs: 1.3rem;

  /* heading sizes */
  --heading-font-size-xxxl: 4.8rem;
  --heading-font-size-xxl: 3.6rem;
  --heading-font-size-xl: 3.4rem;
  --heading-font-size-l: 3.2rem;
  --heading-font-size-m: 2.4rem;
  --heading-font-size-s: 2.0rem;
  --heading-font-size-xs: 1.8rem;

  /* nav height */
  --nav-height: 64px;

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: var(--body-font-size-xs);
}

[data-align="center"] {
  text-align: center;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

strong {
  font-family: var(--ff-volvo-novum-medium);
}

/* buttons */

a.button:any-link, button {
  font-family: var(--ff-volvo-novum-medium);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}


main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 0;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  height: auto;
}

main p img {
  display: block;
  margin: auto;
}

main .section-with-background {
  --text-color: white;

  box-sizing: border-box;
  position: relative;
  min-height: 405px;
  color: var(--text-color);
  text-align: center;
}

main .section-with-background>picture:last-of-type img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

@media (min-width: 768px) {
  main .section {
    width: 756px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  :root {
    --heading-font-size-xxl: 4.8rem;
    --heading-font-size-xl: 4.6rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3.0rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
  }

  .section > div {
    max-width: 1200px;
    margin: auto;
  }

  main .section {
    width: 960px;
  }
}

@media (min-width: 1300px) {
  main .section {
    width: 1200px;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

body.disable-scroll, body.disable-scroll main {
  overflow: hidden;
}

.section.tabbed-container {
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section.tabbed-container-full-width {
  width: unset;
}

.section.tabbed-container-full-width > div {
  max-width: unset;
}

.section.tabbed-container ul.tab-navigation {
  padding: 0;
  margin: 25px;
  text-align: center;
}

.section.tabbed-container ul.tab-navigation li {
  margin: 0 auto;
  padding: 0 1% 8px;
  display: block;
  width: 35%;
}

.section.tabbed-container ul.tab-navigation button {
  background: 0 0;
  color: var(--volvo-text-gray);
  padding: 0;
  margin: 0;
}

.section.tabbed-container ul.tab-navigation li.active,
.section.tabbed-container ul.tab-navigation li:hover {
  border-bottom: 3px solid #004FBC;
}

@media screen and (min-width: 496px) {
  .section.tabbed-container ul.tab-navigation li {
    margin: 0 3%;
    display: inline-block;
    width: unset;
  }
}
