.redesign-v2 .section.v2-social-block-container {
  padding: 40px 16px;
}

.redesign-v2 .section.v2-social-block-container .v2-social-block-wrapper {
  padding: 0;
}

.v2-social-block {
  --social-block-padding: 24px 16px;
  --social-block-gap: 16px;
  --social-block-list-gap: 24px;
  --social-link-color: var(--c-main-black);
  --social-text-color: var(--c-grey-4);

  padding: var(--social-block-padding);
  border-radius: 8px;
}

.v2-social-block--black {
  background-color: var(--c-main-black);

  --social-link-color: var(--c-white);
  --social-text-color: var(--c-grey-2);
}

.v2-social-block--gray {
  background-color: var(--c-grey-50);
}

.v2-social-block__list-wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--social-block-gap);
  align-items: center;
}

.v2-social-block__title {
  font-family: var(--font-family-body);
  font-size: var(--f-body-2-font-size);
  letter-spacing: var(--f-body-2-letter-spacing);
  line-height: var(--f-body-2-line-height);
  margin-bottom: 0;
  color: var(--social-text-color);
}

.v2-social-block__list {
  list-style-type: none;
  display: flex;
  gap: var(--social-block-list-gap);
}

.v2-social-block__button:any-link {
  color: var(--social-link-color);
  background-color: transparent;
  align-items: center;
  display: inline-flex;
  font: var(--f-caption-font-size) / var(--f-caption-line-height) var(--font-family-body);
  letter-spacing: 0.4px;
  justify-content: center;
  max-width: 21.5em;
  height: auto;
  padding: 0;
  border-radius: 4px;
}

.v2-social-block__button:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 1px;
}

.v2-social-block__button .icon svg {
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 744px) {
  .redesign-v2 .section.v2-social-block-container {
    padding: 40px 32px;
  }

  .v2-social-block {
    --social-block-padding: 32px;
    --social-block-list-gap: 40px;
  }

  .v2-social-block__list-wrapper {
    max-width: 680px;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .redesign-v2 .section.v2-social-block-container {
    padding: 48px 0;
  }

  .v2-social-block {
    --social-block-padding: 48px 40px;
    --social-block-gap: 32px;
  }

  .v2-social-block__title {
    font-size: var(--f-heading-5-font-size);
    letter-spacing: var(--f-heading-5-letter-spacing);
    line-height: var(--f-heading-5-line-height);
  }
}
