main .section .calculator-wrapper {
  padding: 10px 0 0;
}

.calculator.block {
  font-family: var(--font-family-heading);
  background-color: var(--c-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calculator.block > div {
  display: flex;
  flex-direction: column;
}

.calculator-inputs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 20px;
}

.calculator-inputs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
}

.disclaimer {
  font-family: var(--font-family-body);
  font-size: var(--body-font-size-xxs);
  font-weight: 400;
  line-height: 16.5px;
  padding: 0 40px;
  margin-top: 0;
}

.calculator-inputs-title {
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
  color: var(--c-cta-blue-default);
  min-height: 50px;
  margin-top: 0;
}

.calculator-input-list {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.calculator-input-list .calculator-item {
  flex: 1 1 auto;
}

.calculator-item input {
  background-color: var(--c-white);
}

.calculator-item select {
  box-sizing: border-box;
  padding-right: 29px;
  background: url('/icons/down-arrow.png') center right var(--c-white) no-repeat;
  background-size: 54px;
  appearance: none;
}

.calculator-item input,
.calculator-item select {
  font-family: var(--ff-volvo-novum-medium);
  font-size: var(--body-font-size-s);
  font-weight: 500;
  height: 52px;
  border: 1px solid var(--c-grey-4);
  border-radius: 0;
  width: 100%;
  padding: 10px 40px 10px 10px;
  margin: 10px 0 27px;
  max-width: none;
}

.calculator-item .form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.calculator-item .error {
  border-color: #e00;
  outline-color: #e00a;
}

.calculator-item .error-message {
  display: none;
}

.calculator-item:has(.error) .error-message {
  display: initial;
  position: absolute;
  transform: translateY(-20px);
  font-size: 85%;
  color: #e00d;
}

.calculator-item label {
  font-size: var(--body-font-size-xs);
  color: var(--volvo-text-gray);
  line-height: 1.5;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.calculator-reset-button {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--c-white);
  width: 75%;
  height: 52px;
  background-color: var(--c-cta-blue-default);
  padding: 5px 10px;
  border: none;
  border-radius: 0.25rem;
}

.calculator-result-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.calculator-result-wrapper,
.calculator-charts-wrapper {
  flex: 1 1 auto;
}

.calculator-results-title {
  font-size: var(--body-font-size-m);
  text-transform: uppercase;
}

.calculator-result-wrapper .percentage-wrapper{
  font-family: var(--font-family-body);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 30px;
}

.calculator-result-wrapper .percentage-label {
  font-size: var(--body-font-size-xs);
  font-weight: 400;
  width: 35vw;
  margin: 0;
}

.calculator-result-wrapper .percentage-result{
  font-size: calc(var(--body-font-size-m) * 2.5);
  font-weight: 700;
  color: #77B733;
  padding-left: 10px;
  margin: 0;
}

.calculator-savings-table {
  text-align: center;
  font-family: var(--font-family-body);
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.calculator-savings-table th {
  font-size: var(--body-font-size-s);
  font-weight: 700;
  padding-bottom: 10px;
}

.calculator-savings-table td {
  font-size: var(--body-font-size-xs);
  font-weight: 100;
  background-color: #F8F8F8;
  padding: 15px;
}

.calculator-savings-table tr td:first-of-type {
  font-weight: 700;
}

.charts-selectors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: var(--font-family-body);
  margin: 0 5vw;
}

.charts-selectors .selector {
  font-size: var(--body-font-size-xxs);
  color: var(--c-cta-blue-default);
  border-radius: 20px;
  border: 2px var(--c-cta-blue-default) solid;
  margin: 6px;
  padding: 8px 10px;
  cursor: pointer;
}

.charts-selectors .selector:hover,
.charts-selectors .selector[data-active="true"] {
  color: var(--c-white);
  background-color: var(--c-cta-blue-default);
}

.charts-wrapper {
  --font-scale-factor: 1.4;
}

.calculator-charts-wrapper ul {
  position: relative;
  width: 100%;
  min-height: fit-content;
  max-height: 500px;
  overflow: hidden;
  height: 60vw;
  padding: 0 10px;
  list-style: none;
}

.charts-wrapper .chart {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  top: 0%;
}

.charts-wrapper .chart[data-active="true"] {
  opacity: 1;
  transition-delay: 200ms;
}

.charts-wrapper svg {
  margin: 10px 0 0;
  max-width: 100%;
  height: 100%;
  font-family: var(--font-family-body);
  cursor: default;
  z-index: 0;
}

.charts-wrapper .chart-reference {
  font-size: calc(var(--heading-font-size-xxs) * var(--font-scale-factor));
  fill: var(--volvo-text-gray);
  font-weight: 700;
}

.charts-wrapper .chart-title {
  font-size: calc(var(--heading-font-size-m) * var(--font-scale-factor));
  fill:#182871;
  font-weight: 700;
}

.charts-wrapper .chart-bars .text {
  font-size: calc(var(--heading-font-size-m) * var(--font-scale-factor));
  fill:var(--c-white);
  font-weight: 700;
}

.charts-wrapper .chart-subtitle {
  /* font-size: var(--heading-font-size-s); */
  font-size: calc(var(--heading-font-size-s) * var(--font-scale-factor));
  fill:#182871;
  font-weight: 700;
}

.charts-wrapper .side-labels .text {
  /* font-size: var(--body-font-size-xxs); */
  font-size: calc(var(--body-font-size-xxs) * var(--font-scale-factor));
  fill: var(--volvo-text-gray);
  font-weight: 700;
}

.charts-wrapper .side-labels .line {
  stroke: var(--text-color);
  opacity: 0.1;
}

@media (min-width: 530px) {
  .calculator-input-list {
    gap: 2rem;
  }

  .calculator-reset-button {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .calculator.block > div {
    flex-direction: initial;
  }

  .calculator-charts-wrapper {
    padding-top: 30px;
  }

  .calculator-result-wrapper,
  .calculator-charts-wrapper {
    width: 50%;
  }

  .calculator-reset-button {
    width: initial;
  }

  .calculator-result-wrapper .percentage-wrapper {
    width: 90%;
  }
}

@media (min-width: 1300px) {
  .charts-selectors {
    margin: 0;
  }
}
